{% extends "core/base_admin.html" %}
{% load i18n cache auth_tokens %}

{% block admin_nav %}
    <div id="admin-nav" class="edge-panel-left">
        <div class="wrapper">
            <div class="stage">
                <div class="menu">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="dashboard">
                            <a href="{% url 'daraja:dashboard' %}">{% trans "Dashboard" %}</a>
                        </li>
                        <li role="presentation" class="companies">
                            <a href="{% url 'daraja:company_list' %}">{% trans "Your companies" %}</a>
                        </li>
                        <li role="presentation" class="profile">
                            <a href="{% url 'daraja:change_profile' %}">{% trans "Profile" %}</a>
                        </li>
                        <li role="presentation" class="wallet">
                            <a href="{% url 'daraja:wallet' %}">{% trans "Wallet" %}</a>
                        </li>
                    </ul>
                    <div class="divider"></div>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="registered-companies">
                            {% url 'daraja:registered_company_list' as registered_company_list_url %}
                            <a href="{{ registered_company_list_url|ikwenize }}">{% trans "Add new company" %}</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
