{% extends 'core/app_base_admin.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block page_title %}
    <title> {% trans "Dashboard" %} - ikwen </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'ikwen/css/dashboard.css' %}" />
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Dashboard" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid">
            <h5 style="margin-top: 0">
                <span>{% trans "Earnings" %} <span class="text-muted">({{ CRNCY.code }})</span> </span>
                <a href="{% url 'billing:transaction_log' %}" class="show-details">{% trans "Details" %}</a>
            </h5>
            <div class="row" style="clear: both">
                <div class="col-xs-6 col-sm-3 watch">
                    <h5>{% trans "Today" %}</h5>
                    <div>
                        <span style="font-size: 30px">{{ earnings_report.today.total|floatformat:CRNCY.precision|intcomma }}</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 watch">
                    <h5>{% trans "Yesterday" %}</h5>
                    <div>
                        <span>{{ earnings_report.yesterday.total|floatformat:CRNCY.precision|intcomma }}</span>
                        {% if earnings_report.yesterday.change and earnings_report.yesterday.change > 0 %}
                            <div class="arrow up"></div>
                        {% elif earnings_report.yesterday.change and earning.yesterday.change < 0 %}
                            <div class="arrow down"></div>
                        {% endif %}
                    </div>
                    {% if earnings_report.yesterday.change and earnings_report.yesterday.change > 0 %}
                        <p class="change up">{{ earnings_report.yesterday.change|floatformat:CRNCY.precision|intcomma }}
                            (+{{ earnings_report.yesterday.change_rate|floatformat:"2" }}%)</p>
                    {% elif earnings_report.yesterday.change and earning.yesterday.change < 0 %}
                        <p class="change down">{{ earnings_report.yesterday.change|floatformat:CRNCY.precision|intcomma }}
                            ({{ earnings_report.yesterday.change_rate|floatformat:"2" }}%)</p>
                    {% else %}
                        <p class="change text-muted">---</p>
                    {% endif %}
                    <p class="vs">{% trans "vs same day last week" %}</p>
                </div>
                <div class="col-xs-6 col-sm-3 watch">
                    <h5>{% trans "Last week" %}</h5>
                    <div>
                        <span>{{ earnings_report.last_week.total|floatformat:CRNCY.precision|intcomma }}</span>
                        {% if earnings_report.last_week.change and earnings_report.last_week.change > 0 %}
                            <div class="arrow up"></div>
                        {% elif earnings_report.last_week.change and earnings_report.last_week.change < 0 %}
                            <div class="arrow down"></div>
                        {% endif %}
                    </div>
                    {% if earnings_report.last_week.change and earnings_report.last_week.change > 0 %}
                        <p class="change up">{{ earnings_report.last_week.change|floatformat:CRNCY.precision|intcomma }}
                            (+{{ earnings_report.last_week.change_rate|floatformat:"2" }}%)</p>
                    {% elif earnings_report.last_week.change and earning.last_week.change < 0 %}
                        <p class="change down">{{ earnings_report.last_week.change|floatformat:CRNCY.precision|intcomma }}
                            ({{ earnings_report.last_week.change_rate|floatformat:"2" }}%)</p>
                    {% else %}
                        <p class="change text-muted">---</p>
                    {% endif %}
                    <p class="vs">{% trans "vs previous 7 days" %}</p>
                </div>
                <div class="col-xs-6 col-sm-3 watch">
                    <h5 title="{% trans "Last 28 days" %}">{% trans "Last 28 days" %}</h5>
                    <div>
                        <span>{{ earnings_report.last_28_days.total|floatformat:CRNCY.precision|intcomma }}</span>
                        {% if earnings_report.last_28_days.change and earnings_report.last_28_days.change > 0 %}
                            <div class="arrow up"></div>
                        {% elif earnings_report.last_28_days.change and earning.last_28_days.change < 0 %}
                            <div class="arrow down"></div>
                        {% endif %}
                    </div>
                    {% if earnings_report.last_28_days.change and earnings_report.last_28_days.change > 0 %}
                        <p class="change up">{{ earnings_report.last_28_days.change|floatformat:CRNCY.precision|intcomma }}
                            (+{{ earnings_report.last_28_days.change_rate|floatformat:"2" }}%)</p>
                    {% elif earnings_report.last_28_days.change and earning.last_28_days.change < 0 %}
                        <p class="change down">{{ earnings_report.last_28_days.change|floatformat:CRNCY.precision|intcomma }}
                            ({{ earnings_report.last_28_days.change_rate|floatformat:"2" }}%)</p>
                    {% else %}
                        <p class="change text-muted">---</p>
                    {% endif %}
                    <p class="vs">{% trans "vs previous 28 days" %}</p>
                </div>
            </div>
            <div class="payments">
                <h5 class="section-title">
                    <span>{% trans "Payments" %} <span class="text-muted">({{ CRNCY.code }})</span></span>
                </h5>
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <h6 class="text-muted">{% trans "Balance" %}</h6>
                        <em class="balance">{{ balance|floatformat:CRNCY.precision|intcomma }}</em>
                        <div>
                            <a href="{% url 'daraja:wallet' %}">{% trans "Payment details" %}</a>
                        </div>
                    </div>
                    {% if last_cash_out %}
                        <div class="col-xs-6 col-sm-3">
                            <h6 class="text-muted">{% trans "Last payment" %}</h6>
                            <em class="last-payment">{{ last_cash_out.amount|floatformat:CRNCY.precision|intcomma }}</em>
                            <time style="float: left; font-size: 12px; margin-top: -4px">{{ last_cash_out.created_on|date }}</time>
                            <span style="float: left; font-size: 12px; margin-top: -5px">
                                <span class="hidden-xs" style="float: left; margin: 0 6px">-</span>
                                <a href="{% url 'daraja:wallet' %}" style="float: left; width: auto">{% trans "View payments" %}</a>
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% block performances %}
            <div class="section-title performances">
                <div>
                    <span style="float: left">{% trans "Performances" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</span>
                    <div class="dropdown" style="cursor: pointer; float: left; margin-left: 15px">
                        <span class="dropdown-toggle" id="period" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="target">{% trans "Today" %}</span>
                            <span class="caret"></span>
                        </span>
                        <ul id="performances-period" class="dropdown-menu" aria-labelledby="period">
                            <li data-target="today" style="display: none"><a>{% trans "Today" %}</a></li>
                            <li data-target="yesterday"><a>{% trans "Yesterday" %}</a></li>
                            <li data-target="last_week"><a>{% trans "Last week" %}</a></li>
                            <li data-target="last_28_days"><a>{% trans "Last 28 days" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row performances" style="clear: both">
                <div class="col-sm-6">
                    <div>
                        <header>
                            <h5>{{ transactions_count_title|safe }}</h5>
                            <div class="clear"></div>
                        </header>
                        <div>
                            <em class="report today">{{ transactions_report.today.count|intcomma }}</em>
                            <em class="report yesterday tpl">{{ transactions_report.yesterday.count|intcomma }}</em>
                            <em class="report last_week tpl">{{ transactions_report.last_week.count|intcomma }}</em>
                            <em class="report last_28_days tpl">{{ transactions_report.last_28_days.count|intcomma }}</em>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <header>
                            <h5>{{ transactions_avg_revenue_title|safe }}</h5>
                            <div class="clear"></div>
                        </header>
                        <div>
                            <em class="report today">{{ CRNCY.symbol }} {{ transactions_report.today.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                            <em class="report yesterday tpl">{{ CRNCY.symbol }} {{ transactions_report.yesterday.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                            <em class="report last_week tpl">{{ CRNCY.symbol }} {{ transactions_report.last_week.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                            <em class="report last_28_days tpl">{{ CRNCY.symbol }} {{ transactions_report.last_28_days.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        (function () {
            $('div#admin-nav .dashboard').addClass('active');
            $('#performances-period').on('click', 'li', function () {
                var target = $(this).data('target'),
                    targetLabel = $(this).find('a').text();
                $('.performances .report, .pie-chart').hide();
                $('.performances .report.' + target, '.' + target + '-pie-chart').show();
                $('#period .target').text(targetLabel);
                $('#performances-period li').show();
                $(this).hide();
            });
        })()
    </script>
{% endblock %}
