<Directory /home/komsihon/PycharmProjects/CloudTest/Foulassi/{{ ikwen_name }}/conf>
	<Files wsgi.py>
		Order deny,allow
		Require all granted
	</Files>
</Directory>

WSGIScriptAlias /{{ ikwen_name }} /home/komsihon/PycharmProjects/CloudTest/Foulassi/{{ ikwen_name }}/conf/wsgi.py
WSGIDaemonProcess go_{{ ikwen_name }} python-path=/home/komsihon/PycharmProjects/CloudTest/Foulassi/{{ ikwen_name }}:/home/komsihon/Tools/venv/lib/python2.7/site-packages/
<Location /{{ ikwen_name }}>
	WSGIProcessGroup go_{{ ikwen_name }}
</Location>
