{% extends 'core/base_bs.html' %}
{% load i18n static %}

{% block page_title %}
    <title>{% trans "Become a Dara" %} - ikwen</title>
{% endblock %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static 'daraja/img/logo-daraja.png' %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/css/deploy-minimal.css' %}">
    <style>
        .main-img {width: 125px!important;}
        .main-title {padding: 6vh 0!important; line-height: 1.3}
        body > .container {font-size: 18px; margin-top: 25vh}
        @media (max-width: 767px) {
            body > .container {margin-top:20vh}
            .main-img {width: 100px!important;}
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <img class="main-img" src="{% static 'daraja/img/logo-daraja.png' %}" />
            <h2 class="main-title text-center" style="padding: 4vh 0">
                {% blocktrans %}Ready to become a Dara ?{% endblocktrans %}
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            {% if form.errors %}
            <div class="error-report">{{ form.errors }}</div>
            {% endif %}
            <form id="deploy-cloud" method="post">{% csrf_token %}
                <div class="form-group">
                    <!-- Submit Button -->
                    <button class="btn btn-block btn-deep-blue deploy">
                        {% include 'core/snippets/button_spinner.html' %}
                        <strong>{% trans "Let's go !" %}</strong>
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('form#deploy-cloud').submit(() => {
                var $btnDeploy = $('.btn.deploy');
                if ($btnDeploy.hasClass('processing')) return false;
                $btnDeploy.addClass('processing');
            });
            $('.btn.deploy').click(() => {
                if ($(this).hasClass('processing')) return false;
                $(this).addClass('processing')
            })
        })()
    </script>
{% endblock %}
