{% extends 'core/base_bs.html' %}
{% load i18n static user_agents %}

{% block meta %}
    {% include 'daraja/snippets/color_and_icons.html' %}
{% endblock %}

{% block page_title %}
    <title>{% trans "Successful deployment" %} - ikwen Daraja</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/css/deploy-minimal.css' %}?v=19.11.7">
    <style>
        footer {position: static; margin-top: 60px}
        .main-img {width: 125px!important;}
        .main-title {padding: 6vh 0!important; line-height: 1.3}
        body > .container {font-size: 18px; margin-top: 16vh}
        @media (max-width: 767px) {
            body > .container {margin-top:14vh}
            .main-img {width: 100px!important;}
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <img class="main-img" src="{% static 'daraja/img/logo-daraja.png' %}" />
            <h2 class="main-title text-center" style="padding-bottom: 4vh">
                {% blocktrans with name=user.first_name %}Congratulations {{ name }},{% endblocktrans %}
            </h2>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div>
                {% if request.GET.inviter %}
                    {% blocktrans %}
                        <p>Now, you are a Dara ! You can go back to your invitation and accept it.</p>
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans %}
                        <p>Now, you are a Dara ! Discover your control panel to see how to grow and monitor your business.</p>
                    {% endblocktrans %}
                {% endif %}
                <div class="clearfix"></div>
            </div>
            <div class="text-center" style="margin-top: 5vh">
                <a class="btn btn-deep-blue continue" href="{{ next_url }}" style="min-width: 240px">
                    {% include 'core/snippets/button_spinner.html' %}
                    <strong>{% trans "Continue" %}</strong>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}