{% extends 'core/base_bs.html' %}
{% load i18n static user_agents %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "tsunami/img/favicon_Tsunami.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
{% endblock %}

{% block page_title %}
    <title>{% trans "Successful deployment" %} - ikwen Daraja</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/css/deploy-minimal.css' %}">
    <style>
        footer {position: static; margin-top: 60px}
        body > .container {font-size: 18px; margin-top: 12vh}
        @media (max-width: 767px) {
            body > .container {margin-top: 10vh}
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <img class="main-img" src="{% static 'foulassi/img/foulassi_splash.png' %}" />
            <h2 class="main-title text-center" style="padding-bottom: 4vh">{% trans "Successful deployment" %}</h2>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div>
                {% blocktrans with client_name=user.first_name service_url=dara_service.url %}
                    <p>Your school management platform and website are now online on <a target="_blank" href="{{ service_url }}"> {{ service_url }}</a>.</p>
                    <ul style="line-height: 28px">
                        <li>Complete setup by adding levels, classrooms, students, teachers and collaborators.</li>
                        <li>Set school fees to accept online Mobile Money payment.</li>
                        <li>Invite parents on <strong>Foulassi MyKids</strong> application and set fees for that service.</li>
                    </ul>
                    <p>It's all very easy to do and will take only a few minutes!</p>
                {% endblocktrans %}
                <div class="clearfix"></div>
            </div>
            <div class="text-center" style="margin-top: 5vh">
                <a class="btn btn-deep-blue continue processing" style="min-width: 240px">
                    {% include 'core/snippets/button_spinner.html' %}
                    <strong>{% trans "Continue" %}</strong>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            setTimeout(() => {
                let href = "{{ school.url }}{% url 'foulassi:admin_home' %}?action=get_in&challenge={{ school.api_signature }}";
                $('.btn.continue').removeClass('processing').attr('href', href);
            }, 5000);
        })()
    </script>

{% endblock %}