.social-share {color: #fff;}
.social-share i {font-size: 20px; line-height: 18px;}

.level-1 {background-color: #004f72}
.level-2 {background-color: #8f4979}
.level-3 {background-color: #88500d}

.level-1-xp-0 {background-color: #e75d44; width: 10%}
.level-1-xp-1 {background-color: #ee9939; width: 30%}
.level-1-xp-2 {background-color: #1a7235; width: 50%}
.level-1-xp-3 {background-color: #004f72; width: 75%}
.level-2-xp-0 {background-color: #e75d44; width: 10%}
.level-2-xp-2 {background-color: #ee9939; width: 40%}
.level-2-xp-5 {background-color: #1a7235; width: 60%}
.level-2-xp-10 {background-color: #004f72; width: 75%}
.level-3-xp-0 {background-color: #e75d44; width: 5%}
.level-3-xp-2 {background-color: #ee9939; width: 15%}
.level-3-xp-5 {background-color: #1a7235; width: 30%}
.level-3-xp-7 {background-color: #004f72; width: 45%}
.level-3-xp-10 {background-color: #5f3672; width: 50%}
.level-3-xp-15 {background-color: #722336; width: 55%}
.level-3-xp-18{background-color: #720707; width: 60%}
.level-3-xp-23 {background-color: #723112; width: 65%}
.level-3-xp-28 {background-color: #72480d; width: 70%}
.level-3-xp-33 {background-color: #727210; width: 75%}
.level-3-xp-38 {background-color: #044a4c; width: 80%}
.level-3-xp-40 {background-color: #4b4f72; width: 85%}
.level-3-xp-45 {background-color: #0076ac; width: 90%}