.social-share {color: #fff;}
.social-share i {font-size: 20px; line-height: 18px;}
.badge-0, .xp-0 {background-color: #e75d44;}
.badge-5, .xp-1 {background-color: #ee9939;}
.badge-10, .xp-2 {background-color: #3759fa;}
.badge-20, .xp-3 {background-color: #11aa08;}

.level-1 {background-color: #004f72}
.level-2 {background-color: #8f4979}
.level-3 {background-color: #88500d}