{% extends "core/change_object_base.html" %}
{% load i18n humanize static auth_tokens admin_list %}

{% block page_title %}
<title> {% trans "Daraja Configuration" %} - ikwen </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link href="{% static 'ikwen/css/console.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <style>
        #context-search {clear: both; margin: 10px 0 6px 0;}
        #context-search input {width: 270px}
        #stage section {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)}
        .qq-uploader {background: none; height: 30px; padding-top: 0;}
        #banner h2 {
            margin-top: 210px
        }
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{% trans "Daraja Configuration" %}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content" class="change-form no-edge-panel-right">
        <div class="container-fluid">
            <div class="configuration-stage">
                <form id="configuration" class="admin-form pull-left" enctype="multipart/form-data" method="post" style="width: auto">{% csrf_token %}
                    <input type="hidden" name="object_id" value="{{ config.id }}" />
                    <input type="hidden" name="company_name_slug" value="{{ config.company_name_slug }}" />
                    {% include 'core/snippets/model_admin_form.html' %}
                    <div class="form-group col-xs-12 col-sm-4 col-md-3" style="padding-top: 15px">
                        <button class="btn btn-md btn-primary btn-block">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'core/snippets/banner_and_pp_uploader.html' %}
    <script type="text/javascript">
        (function() {
            $('div#admin-nav .daraja-configuration').addClass('active');
            $('.currencies-config').insertAfter('.website h3').show();
            $('.form-row').addClass('form-group');
            $('.form-row input:not([type=file], [type=checkbox]), .form-row select, .form-row textarea').addClass('form-control input-sm');
            $('.form-row textarea').addClass('form-control input-sm');
        })()
    </script>
{% endblock %}
