{% extends "core/app_base_admin.html" %}
{% load i18n static cache %}

{% block page_title %}<title>{% trans "Requests" context 'Daras requests' %} - ikwen</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'daraja/css/daraja-admin.css' %}">
    <style>
        #admin-tools .btn.add {display: none}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{{ verbose_name_plural|capfirst }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results">
                {% if object_list %}
                    {% include 'daraja/snippets/dara_request_list_results.html' %}
                {% else %}
                    <div id="stage" class="empty-list" style="padding: 5vh 15px">
                        <p class="notice">{% blocktrans %}No pending request.{% endblocktrans %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}