{% extends "core/app_base_admin.html" %}
{% load i18n static cache %}

{% block page_title %}<title>{% trans "Your daras" %} - ikwen</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <style>
        #admin-tools .btn.add {display: none}
    </style>
{% endblock %}{% load i18n humanize staticfiles admin_list %}

{% block breadcrumb_location %}
    <li>{{ verbose_name_plural|capfirst }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results">
                {% if object_list %}
                    {% include 'daraja/snippets/dara_list_results.html' %}
                {% else %}
                    <div id="stage" class="empty-list">
                        <p class="notice">{% blocktrans %}Invite Daras now.{% endblocktrans %}</p>
                        <div>
                            <button class="btn btn-green visible-xs" data-toggle="modal" data-target="#whatsapp-share">
                                <i class="glyphicon glyphicon-plus"></i>
                                {% trans "Send invitation" %}
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if object_list %}
            <div>
                <div style="border-top: 1px solid #ddd; clear: both; margin: 6vh auto 0; width: 40%"></div>
                <div class="text-center" style="clear: both; margin: 2vh 15px; padding-top: 2vh">
                    <p class="notice">{% blocktrans %}Invite other Daras now.{% endblocktrans %}</p>
                    <div class="row">
                        <div class="col-xs-4">

                        </div>
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <button class="btn btn-green visible-xs" data-toggle="modal" data-target="#whatsapp-share" style="margin: auto; width: 100%">
                                <i class="fab fa-whatsapp"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {#    Modal declaration : BEGIN #}
    <div class="modal fade" id="whatsapp-share" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Share on WhatsApp" %}</h4>
                </div>
                <div class="modal-body text-center">
                    <form onclick="return false" class="form-horizontal">
                        <div class="form-group row">
                            <label for="whatsapp-share-msg" class="col-sm-5 col-md-4">{% trans "Message" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <textarea id="whatsapp-share-msg" style="height: 120px"
                                          class="form-control input-sm">{% blocktrans with school_name=config.company_name %}Hello! This is our Foulassi platform for collaborating online in {{ school_name }}. Please, join in for us to configure your access.{% endblocktrans %}</textarea>
                            </div>
                        </div>
                    </form>
                    <div class="actions">
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-success btn-block btn-sm ok"
                                    data-dismiss="modal" aria-label="OK">OK</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {#    Modal declaration : END #}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('body').on('click', '#whatsapp-share .btn.ok', () => {
                let msg = $('#whatsapp-share-msg').val(),
                    url = 'https://ikwen.com/daraja/invitation/{{ service.project_name_slug }}';
                window.location = 'https://api.whatsapp.com/send?text=' + url + '%0A%0A' + msg;
            });
        })()
    </script>
{% endblock %}