{% extends "core/app_base_admin.html" %}
{% load i18n humanize staticfiles admin_list static cache %}

{% block page_title %}<title>{% trans "Your daras" %} - ikwen</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'daraja/css/daraja-admin.css' %}">
    <style>
        #admin-tools .btn.add {display: none}
    </style>
{% endblock %}

{% block breadcrumb_location %}
    <li>{{ verbose_name_plural|capfirst }}</li>
{% endblock %}

{% block admin_content %}
    <div id="admin-content">
        <div class="container-fluid stage">
            {% include 'core/snippets/admin_tools.html' %}
            <div id="results">
                {% if object_list %}
                    {% include 'daraja/snippets/dara_list_results.html' %}
                {% else %}
                    <div id="stage" class="empty-list" style="padding: 5vh 15px">
                        <button class="btn btn-outline-success generate-invitation-link">
                            {% include 'core/snippets/button_spinner.html' %}
                            <span>{% trans "Invite Daras now" %}</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            {% if object_list %}
            <div>
                <div style="border-top: 1px solid #ddd; clear: both; margin: 6vh auto 0; width: 40%"></div>
                <div class="text-center" style="clear: both; margin: 2vh 15px; padding-top: 2vh">
                    <button class="btn btn-outline-success text-muted generate-invitation-link" style="min-width: 240px">
                        {% include 'core/snippets/button_spinner.html' %}
                        <span>{% trans "Invite Daras now" %}</span>
                    </button>
                    <div class="new-link-block" style="display: none;margin-top: 20px">
                        <p class="new-invitation-link"></p>
                        <p class="text-muted">{% trans "This link is usable once within 30mn." %}</p>
                    </div>
                    <div class="share-buttons row" style="display: none;margin-top: 42px">
                        <div class="col-sm-offset-3 col-sm-3 col-xs-4" data-href="{{ service.url }}{{ product_url }}" data-layout="button" data-mobile-iframe="true">
                            <a class="social-share btn btn-block" target="_blank"  href="https://www.facebook.com/sharer/sharer.php?u={{ service.url }}"  style="background: #3b5998;">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="col-sm-3 col-xs-4">
                            <a class="social-share btn btn-block" data-toggle="modal" data-target="#twitter-share" href="https://twitter.com/intent/tweet?url={{ service.url }}{{ product_url }}" style="background: #1da1f2;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <button class="social-share btn btn-block visible-xs" data-toggle="modal" data-target="#whatsapp-share" style="background: #25d366;">
                                <i class="fab fa-whatsapp"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {#    Modal declaration : BEGIN #}
    <div class="modal fade" id="whatsapp-share" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Share on WhatsApp" %}</h4>
                </div>
                <div class="modal-body text-center">
                    <form onclick="return false" class="form-horizontal">
                        <div class="form-group row">
                            <label for="whatsapp-share-msg" class="col-sm-5 col-md-4">{% trans "Message" %}</label>
                            <div class="col-sm-7 col-md-8">
                                <textarea id="whatsapp-share-msg" style="height: 120px"
                                          class="form-control input-sm">{% blocktrans %}Hello! Get {{ share_rate }}% by getting your ones to buy from {{ project_name }} online. Join Daraja program now !{% endblocktrans %}</textarea>
                            </div>
                        </div>
                    </form>
                    <div class="actions">
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-success btn-block btn-sm ok"
                                    data-dismiss="modal" aria-label="OK">OK</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {#    Modal declaration : END #}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            let invitationUrl;
            $('div#admin-nav .daras').addClass('active');
            $('body').on('click', '#whatsapp-share .btn.ok', () => {
                let msg = $('#whatsapp-share-msg').val();
                window.location = 'https://api.whatsapp.com/send?text=' + invitationUrl + '%0A%0A' + msg;
            }).on('click', '.generate-invitation-link:not(.processing)', (e) => {
                let _$btn = $(e.target);
                _$btn.addClass('processing');
                $.getJSON('', {action: 'generate_invitation_link'}, function(resp) {
                    _$btn.removeClass('processing');
                    invitationUrl = resp.link;
                    $('.new-link-block').show();
                    $('.new-invitation-link').text(invitationUrl);
                    $('.share-buttons').show()
                    setTimeout(() => {
                        $('.new-invitation-link, .share-buttons').hide();
                    }, 120000)
                })
            });
        })()
    </script>
{% endblock %}