{% extends 'core/dashboard_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['line', 'corechart']});
        google.charts.setOnLoadCallback(drawOrdersChart);
        google.charts.setOnLoadCallback(drawAepoChart);
        google.charts.setOnLoadCallback(drawTopCompaniesChart);
        google.charts.setOnLoadCallback(drawTopCustomersChart);

        let earningsHistory = {{ earnings_history|safe }},
            transactionsCountHistory = {{ transactions_count_history|safe }};

        function drawOrdersChart(){
            let data = new google.visualization.DataTable(),
                values = [];
            data.addColumn('number', "{% trans 'Day' %}");
            data.addColumn('number', "{% trans 'Orders' %}");

            for (let i=0; i<earningsHistory.length; i ++) {
                values.push([i, transactionsCountHistory[i]])
            }
            data.addRows(values);
            let options = {
                hAxis: {title: "{% trans 'Day' %}", titleTextStyle: {color: '#203e96'}},
                vAxis: {minValue: 0},
                legend: {position: 'none'}
            };
            let chart = new google.charts.Line(document.getElementById('orders-chart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawAepoChart(){
            let data = new google.visualization.DataTable(),
                values = [];
            data.addColumn('number', "{% trans 'Day' %}");
            data.addColumn('number', "{% trans 'AEPO' %}");

            for (let i=0; i<earningsHistory.length; i ++) {
                let avg = earningsHistory[i]/transactionsCountHistory[i];
                values.push([i, Number(avg.toFixed(2))]);
            }
            data.addRows(values);
            let options = {
                hAxis: {title: "{% trans 'Day' %}", titleTextStyle: {color: '#203e96'}},
                vAxis: {minValue: 0},
                legend: {position: 'none'}
            };
            let chart = new google.charts.Line(document.getElementById('aepo-chart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawTopCompaniesChart(){
            let values, data, chart;
            {% for period, data in companies_report.items %}
                values = [['Company name', 'Earnings']];
                {% if data and data.0.total > 0 %}
                    {% for company in data|slice:"5" %}
                        {% if company.total > 0 %}
                            values.push(["{{ company.project_name }}", {{ company.total }}]);
                        {% endif %}
                    {% endfor %}
                    data = google.visualization.arrayToDataTable(values);
                    chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-companies-chart'));
                    console.log(values);
                    chart.draw(data);
                {% endif %}
            {% endfor %}
        }

        function drawTopCustomersChart(){
            let values, data, chart;
            {% for period, data in customers_report.items %}
                values = [['Customer name', 'Earnings']];
                {% if data and data.0.total > 0 %}
                    {% for customer in data|slice:"5" %}
                        {% if customer.total > 0 %}
                            values.push(["{{ customer.member.full_name }}", {{ customer.total }}]);
                        {% endif %}
                    {% endfor %}
                    data = google.visualization.arrayToDataTable(values);
                    chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-customers-chart'));
                    chart.draw(data);
                {% endif %}
            {% endfor %}
        }
    </script>
{% endblock %}

{% block performances %}
    <h5 class="section-title perf">
        <div>
            <span style="float: left">{% trans "Performances" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</span>
            <div class="dropdown" style="cursor: pointer; float: left; margin-left: 15px">
                <span class="dropdown-toggle" id="period" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="target">{% trans "Today" %}</span>
                    <span class="caret"></span>
                </span>
                <ul id="performances-period" class="dropdown-menu" aria-labelledby="period">
                    <li data-target="today" style="display: none"><a>{% trans "Today" %}</a></li>
                    <li data-target="yesterday"><a>{% trans "Yesterday" %}</a></li>
                    <li data-target="last_week"><a>{% trans "Last week" %}</a></li>
                    <li data-target="last_28_days"><a>{% trans "Last 28 days" %}</a></li>
                </ul>
            </div>
        </div>
        <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
    </h5>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Orders" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div>
                    <em class="report today">{{ orders_report.today.count|intcomma }}</em>
                    <em class="report yesterday tpl">{{ orders_report.yesterday.count|intcomma }}</em>
                    <em class="report last_week tpl">{{ orders_report.last_week.count|intcomma }}</em>
                    <em class="report last_28_days tpl">{{ orders_report.last_28_days.count|intcomma }}</em>
                </div>
                <div id="orders-chart" class="container" class="line-chart"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "AEPO" %} <i class="text-muted">({% trans "Avg. Earning Per Order" %})</i></h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div>
                    <em class="report today">{{ CRNCY.symbol }} {{ orders_report.today.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                    <em class="report yesterday tpl">{{ CRNCY.symbol }} {{ orders_report.yesterday.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                    <em class="report last_week tpl">{{ CRNCY.symbol }} {{ orders_report.last_week.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                    <em class="report last_28_days tpl">{{ CRNCY.symbol }} {{ orders_report.last_28_days.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                </div>
                <div id="aepo-chart" class="container" class="line-chart"></div>
            </div>
        </div>
    </div>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top companies" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Company" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in companies_report.items %}
                    <ul class="report ranking {{ period }}{% if forloop.counter >= 2 %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for company in data|slice:"5" %}
                                {% if company.total > 0 %}
                                    <li>
                                        <span>{{ company.project_name }}</span> <span>{{ company.total|floatformat:CRNCY.precision|intcomma }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-companies-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top customers" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Customer" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in customers_report.items %}
                    <ul class="report ranking {{ period }}{% if forloop.counter >= 2 %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for customer in data|slice:"5" %}
                                {% if customer.total > 0 %}
                                    <li>
                                        <a href="javascript:;">#{{ forloop.counter }}</a>
                                        <span>{{ customer.total|floatformat:CRNCY.precision|intcomma }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-customers-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}

                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
