{% extends 'core/dashboard_base.html' %}
{% load i18n humanize staticfiles auth_tokens %}
{% block head_style %}
    {{ block.super }}
    <style>
        #modal-generic-notice .message li {
            text-align: left;
        }
        #modal-generic-notice .message ol {
            margin: 5px auto 10px;
        }
        .social-likes-stage {
            text-align: left;
        }

        @media (min-width: 768px) {
            .social-likes-stage {
                padding-left: 20px;
            }
        }
    </style>
{% endblock %}

{% block head_js %}
    {{ block.super }}
    {% if dara.level == 1 %}
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
        <script src="https://apis.google.com/js/platform.js"></script>
    {% endif %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['line', 'corechart']});

        $(document).on('ready', () => {
            google.charts.setOnLoadCallback(drawTrendChart);
            google.charts.setOnLoadCallback(drawOrdersChart);
            google.charts.setOnLoadCallback(drawAepoChart);
            google.charts.setOnLoadCallback(drawTopCompaniesChart);
            google.charts.setOnLoadCallback(drawTopCustomersChart);
        });
        $(window).on('resize', () => {
            google.charts.setOnLoadCallback(drawTrendChart);
            google.charts.setOnLoadCallback(drawOrdersChart);
            google.charts.setOnLoadCallback(drawAepoChart);
            google.charts.setOnLoadCallback(drawTopCompaniesChart);
            google.charts.setOnLoadCallback(drawTopCustomersChart);
        });

        let earningsHistoryCurrentMonth = {{ earnings_history|safe }},
            {#earningsHistoryPreviousMonth = {{ earnings_history_previous_month|safe }},#}
            transactionsCountHistory = {{ transaction_count_history|safe }};

        function drawTrendChart(){
            let data = new google.visualization.DataTable(),
            values = [];
            data.addColumn('number', "{% trans 'Day' %}");
            data.addColumn('number', "{% trans 'This month' %}");
            {#data.addColumn('number', "{% trans 'Previous Month' %}");#}

            for (let i=0; i<earningsHistoryCurrentMonth.length; i ++) {
                values.push([i, earningsHistoryCurrentMonth[i]]);
                {#values.push([i, earningsHistoryCurrentMonth[i], earningsHistoryPreviousMonth[i]]);#}
            }
            data.addRows(values);
            let options = {
                title: "{% trans 'Earnings (XAF)' %}",
                {#hAxis: {title: "{% trans 'Day' %}", titleTextStyle: {color: '#203e96'}, textPosition: 'in'},#}
                hAxis: {title: ""},
                vAxis: {minValue: 0},
            };
            if ($(window).width() < 1200){
                options.legend = {position: 'none'};
            }
            if ($(window).width() < 768){
                options.explorer = {axis: 'horizontal'};
            }
            let chart = new google.charts.Line(document.getElementById('trend-chart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawOrdersChart(){
            let data = new google.visualization.DataTable(),
                values = [];
            data.addColumn('number', "{% trans 'Day' %}");
            data.addColumn('number', "{% trans 'Orders' %}");

            for (let i=0; i<earningsHistoryCurrentMonth.length; i ++) {
                values.push([i, transactionsCountHistory[i]])
            }
            data.addRows(values);
            let options = {
                {#hAxis: {title: "{% trans 'Day' %}", titleTextStyle: {color: '#203e96'}, textPosition: 'in'},#}
                hAxis: {title: ""},
                vAxis: {minValue: 0},
                colors: ["#ff36a3"],
                legend: {position: 'none'},
                explorer: {axis: 'horizontal'}
            };
            let chart = new google.charts.Line(document.getElementById('orders-chart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawAepoChart(){
            let data = new google.visualization.DataTable(),
                values = [];
            data.addColumn('number', "{% trans 'Day' %}");
            data.addColumn('number', "{% trans 'AEPO' %}");

            for (let i=0; i<earningsHistoryCurrentMonth.length; i ++) {
                let avg = earningsHistoryCurrentMonth[i]/transactionsCountHistory[i];
                values.push([i, Number(avg.toFixed(2))]);
            }
            data.addRows(values);
            let options = {
                {#hAxis: {title: "{% trans 'Day' %}", titleTextStyle: {color: '#203e96'}},#}
                hAxis: {title: ""},
                vAxis: {minValue: 0},
                colors: ["#36dd21"],
                legend: {position: 'none'},
                explorer: {axis: 'horizontal'}
            };
            let chart = new google.charts.Line(document.getElementById('aepo-chart'));
            chart.draw(data, google.charts.Line.convertOptions(options));
        }

        function drawTopCompaniesChart(){
            let values, data, chart, company_total;
            {% for period, data in companies_report.items %}
                values = [['Company name', 'Earnings']];
                {% if data and data.0.total > 0 %}
                    {% for company in data|slice:"5" %}
                        {% if company.total > 0 %}
                            company_total = "{{ company.total }}".replace('{{ settings.DECIMAL_SEPARATOR }}', '.');
                            values.push(["{{ company.project_name }}", parseFloat(company_total)]);
                        {% endif %}
                    {% endfor %}
                    data = google.visualization.arrayToDataTable(values);
                    chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-companies-chart'));
                    console.log(values);
                    chart.draw(data);
                {% endif %}
            {% endfor %}
        }

        function drawTopCustomersChart(){
            let values, data, chart, customer_total;
            {% for period, data in customers_report.items %}
                values = [['Customer name', 'Earnings']];
                {% if data and data.0.total > 0 %}
                    {% for customer in data|slice:"5" %}
                        {% if customer.total > 0 %}
                            customer_total = "{{ customer.total }}".replace('{{ settings.DECIMAL_SEPARATOR }}', '.');
                            values.push(["{{ customer.member.full_name }}", parseFloat(customer_total)]);
                        {% endif %}
                    {% endfor %}
                    data = google.visualization.arrayToDataTable(values);
                    chart = new google.visualization.PieChart(document.getElementById('{{ period }}-top-customers-chart'));
                    chart.draw(data);
                {% endif %}
            {% endfor %}
        }
    </script>
{% endblock %}

{% block performances %}
    <h5 class="section-title perf">
        <div>
            <span style="float: left">{% trans "Performances" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-</span>
            <div class="dropdown" style="cursor: pointer; float: left; margin-left: 15px">
                <span class="dropdown-toggle" id="period" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="target">{% trans "Today" %}</span>
                    <span class="caret"></span>
                </span>
                <ul id="performances-period" class="dropdown-menu" aria-labelledby="period">
                    <li data-target="today" style="display: none"><a>{% trans "Today" %}</a></li>
                    <li data-target="yesterday"><a>{% trans "Yesterday" %}</a></li>
                    <li data-target="last_week"><a>{% trans "Last week" %}</a></li>
                    <li data-target="last_28_days"><a>{% trans "Last 28 days" %}</a></li>
                </ul>
            </div>
        </div>
        <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
    </h5>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Orders" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div style="margin:3vh 0">
                    <div style="margin-bottom: 20px;">
                        <em class="report today">{{ transactions_report.today.count|intcomma }}</em>
                        <em class="report yesterday tpl">{{ transactions_report.yesterday.count|intcomma }}</em>
                        <em class="report last_week tpl">{{ transactions_report.last_week.count|intcomma }}</em>
                        <em class="report last_28_days tpl">{{ transactions_report.last_28_days.count|intcomma }}</em>
                    </div>
                    <div id="orders-chart" class="line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "AEPO" %} <i class="text-muted">({% trans "Avg. Earning Per Order" %})</i></h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div style="margin:3vh 0">
                    <div style="margin-bottom: 20px;">
                        <em class="report today">{{ CRNCY.symbol }} {{ transactions_report.today.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        <em class="report yesterday tpl">{{ CRNCY.symbol }} {{ transactions_report.yesterday.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        <em class="report last_week tpl">{{ CRNCY.symbol }} {{ transactions_report.last_week.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                        <em class="report last_28_days tpl">{{ CRNCY.symbol }} {{ transactions_report.last_28_days.aepo|floatformat:CRNCY.precision|intcomma }}</em>
                    </div>
                    <div id="aepo-chart" class="line-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row performances" style="clear: both">
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top companies" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Company" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in companies_report.items %}
                    <ul class="report ranking {{ period }}{% if period != 'today' %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for company in data|slice:"5" %}
                                {% if company.total > 0 %}
                                    <li>
                                        <span>{{ company.project_name }}</span> <span>{{ company.total|floatformat:CRNCY.precision|intcomma }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-companies-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <header>
                    <h5>{% trans "Top customers" %}</h5>
                    <a href="javascript:;" class="show-details">{% trans "Details" %}</a>
                    <div class="clear"></div>
                </header>
                <div class="th">
                    <span style="float: left">{% trans "Customer" %}</span>
                    <span title="Estimated earnings" style="float: right">
                        {% trans "Earnings" %}
                        <span class="text-muted" style="font-weight: 400">({{ CRNCY.code }})</span>
                    </span>
                </div>
                {% for period, data in customers_report.items %}
                    <ul class="report ranking {{ period }}{% if period != 'today' %} tpl{% endif %}">
                        {% if data and data.0.total > 0 %}
                            {% for customer in data|slice:"5" %}
                                {% if customer.total > 0 %}
                                    {% with member=customer.member %}
                                        {% if settings.MEMBER_DETAIL_VIEW %}
                                            {% url settings.MEMBER_DETAIL_VIEW member.id as member_url %}
                                        {% else %}
                                            {% url 'ikwen:profile' member.id as member_url %}
                                        {% endif %}
                                            <li>
                                                <a href="{% if settings.MEMBER_DETAIL_VIEW %}{{ member_url }}{% else %}{{ member_url|ikwenize }}{% endif %}">{{ member.full_name }}</a>
                                                <span>{{ customer.total|floatformat:CRNCY.precision|intcomma }}</span>
                                            </li>
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="empty">{% trans 'Not enough data' %}</li>
                        {% endif %}
                    </ul>
                    {% if data and data.0.total > 0 %}
                        <div id="{{ period }}-top-customers-chart"
                             class="pie-chart {{ period }}-pie-chart {% if period != 'today' %}tpl{% endif %}"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="social-likes" class="hidden">
        <div class="social-likes-stage">
            <div  style="display: block;">
                <div id="fb-root"></div>
                <div class="fb-like"
                     data-href="https://www.facebook.com/Ikwen-kakocase-2025554244382381/?epa=SEARCH_BOX"
                     data-layout="standard"
                     data-size="large"
                     data-action="like"
                     data-show-faces="true">
                </div>
            </div>
            <div style="display: block; margin-top: 10px;">
                <div class="g-ytsubscribe"
                 data-channelid="UCzhHrosFOA6RC2H9MqR9jxA"
                 data-layout="default"
                 data-count="shown">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (()=> {
            let img = "{% static 'daraja/img/banner-modal.png' %}",
                title = "{% blocktrans %}Become a Pro Dara !{% endblocktrans %}",
                message = "{% blocktrans %}Discover and test everything about Daraja by following steps on playground. Complete them all and earn <strong>500 CFA</strong>.{% endblocktrans %}",
                url = "javascript:;",
                okText = "{% trans 'Get started' %}",
                wentToPlayground = localStorage.getItem('wentToPlayground');

            {% if dara.level == 1 %}
                {% if dara.xp == 0 %}
                    if (!wentToPlayground) {
                        ikwen.showNoticeDialog(img, title, message, url, okText);
                    }
                    img = "{% static 'daraja/img/buy-online2.jpg' %}";
                    title = "{% blocktrans %}Step 1: Order online for free{% endblocktrans %}";
                    message = "{% blocktrans %}Discover the purchase process buy making an online order. It is a simulation, so you won’t be charged. <br>Get <strong>100 CFA Bonus + 1XP</strong> for completing that step.{% endblocktrans %}";
                    url = "https://go.ikwen.com/playground/";
                    okText = "{% trans 'Order now' %}";
                    if (wentToPlayground) {
                        ikwen.showNoticeDialog(img, title, message, url, okText);
                        return;
                    } else {
                        $('#modal-generic-notice .btn-ok').click(() => {
                            $('#modal-generic-notice').modal('hide');
                            localStorage.setItem('wentToPlayground', 'yes');
                            setTimeout(function () {
                                ikwen.showNoticeDialog(img, title, message, url, okText);
                            }, 400);
                        });
                        return;
                    }
                {% elif dara.xp == 1 %}
                    img = "{% static 'daraja/img/invite-friends.png' %}";
                    title = "{% blocktrans %}Step 2: Invite somebody{% endblocktrans %}";
                    message = "{% blocktrans %}Refer a mate to become your follower on Playground. You will earn some money when he buys online.<ol><li>Go to My companies</li><li>Share the link from the paper-plane icon.</li><li>Make sure your mate registers using that link.</li></ol>Get <strong>100 CFA Bonus + 1XP </strong>after he does so.{% endblocktrans %}";
                    url = "{% url 'daraja:company_list' %}";
                    okText = "{% trans 'Invite a friend' %}";
                {% elif dara.xp == 2 %}
                    img = "{% static 'daraja/img/refer-friends.svg' %}";
                    title = "{% blocktrans %}Step 3: Get your follower to buy online{% endblocktrans %}";
                    message = "{% blocktrans %}You just referred a friend and he is now your follower on Playground. Make sure he did it by doing so:<ol><li>Go to My companies</li><li>See that you have 1 follower or more on Playground</li><li>Tell your mate to buy online on Playground like what you did in step 1. <br>It is also a simulation and he won’t be charged.</li></ol>Get <strong>200 CFA Bonus + 1XP</strong> after he does so.{% endblocktrans %}";
                    url = "{% url 'daraja:company_list' %}";
                    okText = "OK";
                {% elif dara.xp == 3 %}
                    img = "{% static 'daraja/img/like-follow-social-medias.png' %}";
                    title = "{% blocktrans %}You're almost done! <strong>Like, follow us on social medias</strong>{% endblocktrans %}";
                    message = "{% blocktrans %}Send likes to our social platforms and invite friends to follow us,like our pages, share, and subscribe to our social pages to keep up with new activities.{% endblocktrans %}";
                    url = "javascript:;";
                    okText = "{% trans 'Like us !' %}";
                    ikwen.showNoticeDialog(img, title, message, url, okText);
                    $('#modal-generic-notice .btn-ok:not(.liked)').click((e) => {
                        $(e.target).addClass('liked');
                        $('#modal-generic-notice .message').html($('#social-likes').html());
                        $.getJSON("{% url 'daraja:like_social_medias' %}", {'dara_id': "{{ dara.id }}"});
                    });
                    return;
                {% endif %}
            {% elif dara.level == 2 %}
                {% if dara.xp == 0 %}
                    img = "{% static 'daraja/img/career-digital-Marketing.png' %}";
                    title = "{% blocktrans %}Start making real money !{% endblocktrans %}";
                    message = "{% blocktrans %}Congratulations ! You have successfully completed the Playground steps. Now, you're a Dara <strong>level 2</strong>. Get started with real business now.{% endblocktrans %}";
                    url = "javascript:;";
                    okText = "{% trans 'Get started !' %}";
                    hasWelcomedToLevel2 = localStorage.getItem('hasWelcomedToLevel2');

                    if (!hasWelcomedToLevel2) {
                        ikwen.showNoticeDialog(img, title, message, url, okText);
                    }
                    img = "{% static 'daraja/img/Partnership.jpg' %}";
                    title = "{% blocktrans %}Step 1: Request access to a company{% endblocktrans %}";
                    message = "{% blocktrans %}Visit companies list page and click on the <strong>request button</strong> on the top right corner. Earn <strong>2xp</strong> for that.{% endblocktrans %}";
                    url = "{% url 'daraja:registered_company_list' %}";
                    okText = "{% trans 'Request now' %}";
                    if (hasWelcomedToLevel2){
                       ikwen.showNoticeDialog(img, title, message, url, okText);
                       return;
                    } else {
                        $('#modal-generic-notice .btn-ok').click(() => {
                            $('#modal-generic-notice').modal('hide');
                            localStorage.setItem('hasWelcomedToLevel2', 'true');
                            setTimeout(function () {
                                ikwen.showNoticeDialog(img, title, message, url, okText);
                            }, 400);
                        });
                        return;
                    }
                {% elif 1 <= dara.xp and dara.xp <= 4 %}
                    img = "{% static 'daraja/img/refer-friends.jpg' %}";
                    title = "{% blocktrans %}Step 2: Invite 3 followers or more{% endblocktrans %}";
                    message = "{% blocktrans %}Send referral link of newly joined companies to your friends and get at least 3 of them to register. Earn <strong>3xp</strong> for that.{% endblocktrans %}";
                    url = "{% url 'daraja:company_list' %}";
                    okText = "{% trans 'Refer now' %}";
                    {% if companies_count < 1 %}
                        img = "{% static 'daraja/img/waiting-clock.jpg' %}";
                        message = "{% blocktrans %}Now, wait for the confirmation of your newly requested company, then send referral link to your friends and get at least 3 of them to register. Earn <strong>3xp</strong> for that.{% endblocktrans %}";
                        ikwen.showNoticeDialog(img, title, message);
                        return;
                    {% endif %}
                {% else %}
                    img = "{% static 'daraja/img/buy-online3.jpg' %}";
                    title = "{% blocktrans %}Step 3: Get one of your followers to buy online{% endblocktrans %}";
                    message = "{% blocktrans %}Congratulations ! You referred at least 3 friends. Now, get one of them to buy from your newly joined companies. Earn <strong>500 CFA</strong> and move to <strong>level 3</strong>.{% endblocktrans %}";
                    url = "{% url 'daraja:company_list' %}";
                    okText = "{% trans 'Refer now' %}";
                {% endif %}
            {% else %}
                return;
            {% endif %}

            ikwen.showNoticeDialog(img, title, message, url, okText);
        })()
    </script>
{% endblock %}
