{% extends 'com/base.html' %}
{% load i18n static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "daraja/img/fav-daraja.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/daraja/" />
    <meta property="og:image" content="{% static 'daraja/img/logo-daraja.png' %}" />
    <meta property="og:title" content="{% trans "ikwen DARAJA, become a stockholder of the major companies" %}"/>
    <meta property="og:description" content="{% trans "Earn a percentage on the turnover of your favorite companies by free registering on the ikwen DARAJA program." %}">
    <meta property="description" content="{% trans "Earn a percentage on the turnover of your favorite companies by free registering on the ikwen DARAJA program." %}" />
{% endblock %}

{% block page_title %}
    <title> ikwen - DARAJA</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'tsunami/css/tsunami_homepage.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'daraja/css/home.css' %}">
    <style>
        div#email-error {display: none}
    </style>
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static 'tsunami/img/logo_ikwen_web_header.png' %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}
    <div id="section-header-general-view" class="container-fluid section-header" style="padding-top: 6vh;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center " style="padding-top: 18vh">
                <img style="max-width: 180px" alt="logo_ikwen_DARAJA" src="{% static 'daraja/img/logo-daraja.png' %}"/>
              <h1 style="font-size: 3.5vw;">{% trans 'Become a stockholder of the major companies' %}</h1>
                <p >
                    {% trans "Earn a percentage on the turnover of your favorite companies by free registering on the ikwen DARAJA program." %}
                </p>

                {% if request.user.is_authenticated %}
                    <a  href='{% url 'tsunami:bundles' %}'>
                        <button  type=button class="btn btn-outline-primary btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Suscribe on <b>Daraja</b>" %}</button>
                    </a>
                {% else %}
                     <button type="button" class="btn btn-outline-primary btn-deploy animated pulse " data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans "Suscribe on <b>Daraja</b>" %}</button>
                {% endif %}
                <div class="anchor">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="banniere-top" class="container-fluid">
        <div class="row section-banniere-top" style="margin-top: 0;">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
              <h1>{% trans 'Become stockholder' %} </h1>
                <button type="button" class="btn btn-outline-white animated pulse " data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans "Suscribe on <b>Daraja</b>" %}</button>
            </div>
        </div>
    </div>

    <div class="screenshots" id="container-general-view">
        {% comment %}<div class="row row-custom" style="padding-top: 5vh">
            <div class="col-md-6 section-features-text second-on-mobile">
                <img class="picto-features" alt="picto_better_customer_compréhension" src="{% static 'tsunami/img/best_buddy_list_exploitation_picto.png' %}" />
                <h2 class="" style="font-size: 3vw">{% trans 'Efficient use of the customer directory' %}</h2>
                <p class="">
                    {% trans 'You will now keep the contacts of your customers in a modern and useful way. Tsunami will be able to use this directory on his own to bring you even more customers and encourage them into repeated purchases. No more old paper phone books that get dusty at the bottom of the drawer.' %}
                </p>
                <a href="http://blog.ikwen.com/notion-dinbound-marketing-marketing-entrant/" target="_blank" style="font-size: 15px; font-weight: bold; margin-top: 10px; text-decoration: none;" class="discover-link">{% trans 'Discover Cloud Customer Manager' %}&nbsp;<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 first-on-mobile">
                <img class="img-features" alt="img_client_list_exploitation" src="{% static 'tsunami/img/best_buddy_list_exploitation.png' %}" />
            </div>
        </div>{% endcomment %}

        <section class="features site" style="padding-top: 5vh">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 img continuous-gain">
                        <img class="img-responsive visible-xs" src="{% static 'daraja/img/ikwen-Daraja-continuous-gain.png' %}">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Invite once and win infinitely!" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                A <strong>percentage of each purchase</strong> made according to your recommendations is paid directly to you.
                                A single recommendation is enough!
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Invite once and win infinitely!" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                A <strong>percentage of each purchase</strong> made according to your recommendations is paid directly to you.
                                A single recommendation is enough!
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features site">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 visible-xs">
                        <img class="img-responsive" src="{% static 'daraja/img/ikwen-Daraja-budy-coating.png' %}">
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "The more they buy, the more you earn" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Be the first to register your buddies and <strong>earn percentages on everything their purchase</strong>
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 img budy-coating hidden-xs">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "The more they buy, the more you earn" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                Be the first to register your buddies and <strong>earn percentages on everything their purchase</strong>
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </section>
        <section class="features site" style="padding-top: 5vh">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 img enterprise-recruitment">
                        <img class="img-responsive visible-xs" src="{% static 'daraja/img/ikwen-Daraja-enterprise-recruitment.png' %}">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Recruit companies and become their main shareholder!" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                Identifies companies that are not yet on the Daraja program, helps them register and <strong>becomes their first stockholder!</strong>
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Recruit companies and become their main stockholder!" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Identifies companies that are not yet on the Daraja program, helps them register and <strong>becomes their first stockholder!</strong>
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features site">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 visible-xs">
                        <img class="img-responsive" src="{% static 'daraja/img/ikwen-Daraja-stock-monitoring.png' %}">
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "All clear! Keep an eye on your share." %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                You know exactly the percentage you earn from your companies,
                                a notification advises you of each purchase made by your affiliates
                                and <strong>your earnings are deposited immediately into your account!</strong>
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 img stock-monitoring hidden-xs">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "All clear! Keep an eye on your share." %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                You know exactly the percentage you earn from your companies,
                                a notification advises you of each purchase made by your affiliates
                                and <strong>your earnings are deposited immediately into your account!</strong>
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="row section-banniere">
                <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3.5vh">
                  <h1>{% trans 'Become stockholder' %}</h1>
                    {% if request.user.is_authenticated %}
                         <a  href='{% url 'tsunami:bundles' %}'>
                            <button type="button" class="btn btn-outline-primary btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Suscribe on <b>Daraja</b>" %}</button>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-outline-primary btn-deploy animated pulse " data-toggle="modal" data-target="#modal-get-email" style="margin-top: 20px; height: 45px;">{% trans "Suscribe on <b>Daraja</b>" %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
            <i class="fa fa-chevron-circle-up"></i>
        </a>
    </div>

{# Modal definition :BEGIN #}
    <div id="modal-get-email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-get-email">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-m vertical-align-center" role="document">
                <div class="modal-content" style=" background: url({% static 'tsunami/img/get_email-modal_background.png' %}); border: 0.2px solid #ccc; border-radius: 4px; text-align: center;">
                    <div class="modal-header no-border " style="color: #464646">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: #d32f2f">&times;</span></button>
                        <h4 class="modal-title" style="text-align: center">{% trans "Please, enter your email before proceeding..." %}</h4>
                    </div>
                    <div id='email-error' class="failure" style="margin: auto; width: 80%">Enter a valid email please </div>
                    <div class="modal-body">
                        <form action="{% url 'tsunami:home' %}" id="get-user-email">
                            <input id="action" name='action' type="hidden" required value="send_mail_to_visitor">
                            <input id="visitor-email" name='visitor_email' type="email" required placeholder="Email" aria-describedby="input-email" class="form-control-custom">
                        </form>
                    </div>
                    <div class="modal-footer no-border" style="padding-top: 0 !important; text-align: center !important;">
                        <span class="btn btn-outline-primary btn-process  ">{% trans "Continue" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-sm-3" style="margin-top: 4vh; text-align: center;">
                    <a href="{% url 'daraja:home' %}">
                        <img class="footer-" src="{% static 'daraja/img/logo-daraja_grey.png' %}" style="max-width: 7vw;"/>
                        <h4 style="color: #ffffff; font-size: 1.8vw; text-align: center;" class="logo footer-">Daraja</h4>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4 footer-">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'Get started' %}</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="{% url 'daraja:home' %}">{% trans 'Home' %}</a></li>
                        <li><a style="color: #d2d1d1;" href="{% url 'ikwen:sign_in' %}">{% trans 'Sign In' %}</a></li>
{#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Downloads' %}</a></li>#}
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 footer-">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'About us' %}</h5>
                    <ul style=" font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="{% url 'about' %}" target="_blank">{% trans 'Our Company' %}</a></li>
{#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Contact us' %}</a></li>#}
                        <li><a style="color: #d2d1d1;" href="{% url 'daraja:for_businesses' %}" target="_blank">{% trans 'For business' %}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 footer-">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">Support</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="http://blog.ikwen.com/" target="_blank">Blog</a></li>
                        <li><a style="color: #d2d1d1;" href="http://support.ikwen.com/" target="_blank">{% trans 'Help desk' %}</a></li>
{#                        <li><a style="color: #d2d1d1; text-decoration: none" href="#" target="_blank">Forums</a></li>#}
                    </ul>
                </div>
{#                <div class="col-sm-3 footer-">#}
{#                    <div class="social-networks" style="padding-bottom: 16px; padding-top: 30px; text-align: center">#}
{#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="twitter"><i class="fa fa-twitter"></i></a>#}
{#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="facebook"><i class="fa fa-facebook"></i></a>#}
{#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="google"><i class="fa fa-google-plus"></i></a>#}
{#                    </div>#}
{#                    <button type="button" class="btn btn-default">Contact us</button>#}
{#                </div>#}
            </div>
        </div>

        <div class="footer-copyright " style="padding: 3px 0; text-align: center;">
            &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong style="color: #ffffff">{{ config.company_name }}</strong></a>.
        </div>
    </footer>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function () {
            // redirect to Tsunami signIn page
            $('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'tsunami:home' %}");

            // set focus when modal is opened
            $('#modal-get-email').on('shown.bs.modal', function () {
                $("#visitor-email").focus();
            });

            $('#visitor-email').focusin(function () {
                $('div#email-error').fadeOut().hide()
            })

            // get the email for Tsunami relaunch mails
            $('.btn-process').click(function () {
                var visitor_email = $('#visitor-email').val();
                if (visitor_email !== ''){
                    $('#get-user-email').submit()
                }else {
                    $('div#email-error').fadeIn().show()
                }

            });

        })()
    </script>
{% endblock %}