{% extends 'com/base.html' %}
{% load i18n static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "daraja/img/fav-daraja.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/daraja/" />
    <meta property="og:image" itemprop="image" content="{% static 'daraja/img/logo-daraja.png' %}" />
    <meta property="og:title" content="{% trans "Daraja Playground, Pratice on Playground and learn how Daraja works" %}"/>
    <meta property="og:description" content="{% trans "Earn bonus cash each time you complete a step on Playground" %}">
    <meta property="description" content="{% trans "Earn bonus cash each time you complete a step on Playground." %}" />
    <meta property="og:updated_time" content="1581354714"/>
{% endblock %}

{% block page_title %}
    <title>Daraja Playground - {% trans "Get into Playground experience and learn how Daraja works ." %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'daraja/css/home.css' %}?V=20.03.04.14.31">
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static 'tsunami/img/logo_ikwen_web_header.png' %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="section-header-general-view" class="container-fluid section-header playground-header" style="padding-top: 20vh; padding-bottom: 20vh; background-image: url({% static 'ikwen/img/balloon-2435142.jpg' %}); color: #ffffff;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center " style="padding-top: 20vh;">
{#                <img style="max-width: 150px" alt="logo_ikwen_DARAJA" src="{% static 'daraja/img/black-player.png' %}"/>#}
                <h1 class="text-has-shade" style="font-weight: 700">{% blocktrans %}Try yourself on <span style="color: #FFEE58;">Playground</span> and learn how Daraja works{% endblocktrans %}</h1>
                <p class="text-has-shade">
                    {% trans "Follow steps below and earn bonus cash each time you complete one." %}
                </p>
                <div class="anchor" style="padding-top: 10vh;">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
{#    <div id="banniere-top" class="container-fluid">#}
{#        <div class="row section-banniere-top" style="background-image: url({% static 'daraja/img/banner-2.png' %});margin-top: 0!important;">#}
{#            <div class="section-banniere-inner">#}
{#                <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">#}
{#                    <h1>{% blocktrans %}Download the app<br><span style="font-size: .5em">( Android only <i class="fab fa-android" style="font-size: 1.5em"></i> )</span>{% endblocktrans %}</h1>#}
{#                    <a  href="{% url 'ikwen:logout' %}?next={% url 'home' %}?dl=yes">#}
{#                        <button  type=button class="btn btn-outline-white btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Download" %}</button>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div id="container-general-view" class="features playground">
        <section id="buy-online" class="features site" style="padding-top: 5vh; background-color: #fcf8f5">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 img" style="background-image: url({% static 'daraja/img/buy-online2.jpg' %})">
                            <img class="img-responsive visible-xs" src="{% static 'daraja/img/buy-online2.jpg' %}">
                            {# Force DIV height by putting the same text and set visibility to hidden #}
                            <h2 class="hidden-xs" style="visibility: hidden">{% trans "Step 1: Order online for free" %}</h2>
                            <div class="desc hidden-xs" style="visibility: hidden">
                                <p>{% blocktrans %}
                                    Discover the purchase process buy making an online order. It is a simulation, so you won’t be charged. Get <strong>100 CFA Bonus + 1XP</strong> for completing that step.{% endblocktrans %}
                                    <a class="discover-link" href="https://go.ikwen.com/playground">
                                        <i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i>
                                    </a>
                                </p>
                            </div>
                            {# End Force DIV height #}
{#                        </div>#}
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Step 1: Order online for free" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Discover the purchase process buy making an online order. It is a simulation, so you won’t be charged. Get <strong>100 CFA Bonus + 1XP</strong> for completing that step.{% endblocktrans %}
                                <a class="discover-link" href="https://go.ikwen.com/playground">
                                    <i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="invite-smbdy" class="features site">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 visible-xs">
                        <img class="img-responsive" src="{% static 'daraja/img/invite-friends.png' %}">
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Step 2: Invite somebody" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}Refer a mate to become your follower on Playground.<br>You will earn some money when he buys online.
                                <ol>
                                    <li>Login on Daraja or open the App,</li>
                                    <li>Go to My companies from the menu and tap playground</li>
                                    <li>Share the link from the paper-plane icon.</li>
                                    <li>Make sure your mate registers using that link.</li>
                                </ol>
                                Get <strong>100 CFA Bonus + 1XP </strong>after he does so.{% endblocktrans %}<br><br>
                                <a class="discover-link" href="https://www.youtube.com/watch?v=o2VSuOrrttc" target="_blank">
                                    {% trans "Watch the video to learn more how to refer a product." %}<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 img hidden-xs" style="background-image: url({% static 'daraja/img/invite-friends.png' %})">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Step 2: Invite somebody" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}Refer a mate to become your follower on Playground.<br>You will earn some money when he buys online.
                                <ol>
                                    <li>Login on Daraja or open the App,</li>
                                    <li>Go to My companies from the menu and tap playground</li>
                                    <li>Share the link from the paper-plane icon.</li>
                                    <li>Make sure your mate registers using that link.</li>
                                </ol>
                                Get <strong>100 CFA Bonus + 1XP </strong>after he does so.{% endblocktrans %}<br><br>
                                <a class="discover-link" href="https://www.youtube.com/watch?v=o2VSuOrrttc" target="_blank">
                                    {% trans "Watch the video to learn more how to refer a product." %}<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i>
                                </a>
                            </p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </section>
        <section id="invite-follower-to-buy" class="features site" style="padding-top: 5vh; background-color: #6D87CE; color: #ffffff">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 img" style="background-image: url({% static 'daraja/img/refer-friends.svg' %})">
                        <img class="img-responsive visible-xs" src="{% static 'daraja/img/refer-friends.svg' %}">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Step 3: Get your follower to order online for free" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                You just referred a friend and he is now your follower on Playground.
                                Make sure he did it by doing so:
                                <ol>
                                    <li>Login on Daraja or open the App,</li>
                                    <li>Go to My companies from the menu and tap playground</li>
                                    <li>See that you have 1 follower or more on Playground</li>
                                    <li>Tell your mate to buy online on Playground like what you did in step 1.
                                        It is also a simulation and he won’t be charged.</li>
                                </ol>
                                Get <strong>200 CFA Bonus + 1XP</strong> after he does so.
                            {% endblocktrans %}
                            </p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Step 3: Get a follower to order online for free" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                You just referred a friend and he is now your follower on Playground.
                                Make sure he did it by doing so:
                                <ol>
                                    <li>Login on Daraja or open the App,</li>
                                    <li>Go to My companies from the menu and tap playground</li>
                                    <li>See that you have 1 follower or more on Playground</li>
                                    <li>Tell your mate to buy online on Playground like what you did in step 1.
                                        It is also a simulation and he won’t be charged.</li>
                                </ol>
                                Get 200 CFA Bonus + 1XP after he does so.
                            {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="like-social-medias" class="features site">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 visible-xs">
                        <img class="img-responsive" src="{% static 'daraja/img/like-follow-social-medias.png' %}">
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Step 4: Like, follow us on social medias" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Send likes to our social platforms and invite friends to follow us,
                                like our pages, share, and subscribe to our social pages to keep up with new activities.{% endblocktrans %}</p>
{#                             <p>#}
{#                                 <a href="https://www.facebook.com/Ikwen-kakocase-2025554244382381/?epa=SEARCH_BOX" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none; color: #3b5998;"><i class="animated infinite fab fa-facebook"></i></a>#}
{#                                 <a href="https://www.instagram.com/ikwen_cloud/" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none; color: #c32aa3;"><i class="animated infinite fab fa-instagram"></i></a>#}
{#                                 <a href="" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none; color: #1da1f2;"><i class="animated infinite fab fa-twitter"></i></a>#}
{#                                 <a href="https://www.linkedin.com/company/ikwen/" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none"><i class="animated infinite fab fa-linkedin"></i></a>#}
{#                                 <a href="https://www.youtube.com/channel/UCzhHrosFOA6RC2H9MqR9jxA" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none;color: #c4302b;"><i class="animated infinite fab fa-youtube"></i></a>#}
{#                            </p>#}

                            <div style="display: block;">
                                <div id="fb-root"></div>
                                <div class="fb-like"
                                     data-href="https://www.facebook.com/Ikwen-kakocase-2025554244382381/?epa=SEARCH_BOX"
                                     data-layout="standard"
                                     data-size="large"
                                     data-action="like"
                                     data-show-faces="true">
                                </div>
                            </div>
                            <div  style="display: block; margin-top: 10px;">
                                <div class="g-ytsubscribe"
                                 data-channelid="UCzhHrosFOA6RC2H9MqR9jxA"
                                 data-layout="default"
                                 data-count="shown">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 img hidden-xs" style="background-image: url({% static 'daraja/img/like-follow-social-medias.png' %});">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Step 4: Like, follow us on social medias" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                Send likes to our social platforms and invite friends to follow us,
                                like our pages, share , and subscribe to our social pages to keep up with new activities.{% endblocktrans %}</p>
                            <p>
                                <a href="https://www.facebook.com/Ikwen-kakocase-2025554244382381/?epa=SEARCH_BOX" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none; color: #3b5998;"><i class="animated infinite fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/ikwen_cloud/" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none; color: #c32aa3;"><i class="animated infinite fab fa-instagram"></i></a>
                                <a href="" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none; color: #1da1f2;"><i class="animated infinite fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/ikwen/" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none"><i class="animated infinite fab fa-linkedin"></i></a>
                                <a href="https://www.youtube.com/channel/UCzhHrosFOA6RC2H9MqR9jxA" target="_blank" style="font-size: 40px; margin-left: 12px; text-decoration: none;color: #c4302b;"><i class="animated infinite fab fa-youtube"></i></a>
                            </p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </section>
        <div id="banniere-top" class="container-fluid">
            <div class="row section-banniere-bottom" style="background-image: url({% static 'daraja/img/banner-2.png' %});margin-top: 0!important;">
                <div class="section-banniere-inner">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
                        <h1>{% blocktrans %}Download the app<br><span style="font-size: .5em">( Android only <i class="fab fa-android" style="font-size: 1.5em"></i> )</span>{% endblocktrans %}</h1>
                        <a  href="{% url 'ikwen:logout' %}?next={% url 'home' %}?dl=yes">
                            <button  type=button class="btn btn-outline-white btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Download" %}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="container-fluid">#}
{#            <div class="row section-banniere" style=" height: auto">#}
{#                <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center">#}
{#                    <h2 style="font-weight: 800;">{% trans "Go live !" %}</h2>#}
{#                    <h4 style="line-height: 30px; margin: 4vh 0">{% blocktrans %}Request access to a company, invite 3 followers and get one to buy to earn another<br><strong>500 CFA bonus cash</strong>{% endblocktrans %}</h4>#}
{#                    <a  href="https://daraja.ikwen.com">#}
{#                        <button  type=button class="btn btn-outline-primary btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Go now" %}</button>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
            <i class="fa fa-chevron-circle-up"></i>
        </a>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-sm-3 text-center" style="margin-top: 4vh;">
                    <a href="{% url 'daraja:home_playground' %}">
                        <img class="footer-logo" src="{% static 'daraja/img/logo_playground.jpg' %}" style="max-width: 7vw;"/>
                        <h4 style="color: #ffffff; font-size: 1.8vw; text-align: center;" class="logo footer-title">Playground</h4>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-12 footer- text-center">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'Get started' %}</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="{% url 'daraja:home' %}">{% trans 'Home' %}</a></li>
                        <li><a style="color: #d2d1d1;" href="{% url 'ikwen:sign_in' %}">{% trans 'Sign In' %}</a></li>
{#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Downloads' %}</a></li>#}
                    </ul>
                </div>
{#                <div class="col-sm-3 col-xs-12 footer- text-center">#}
{#                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'About us' %}</h5>#}
{#                    <ul style=" font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">#}
{#                        <li><a style="color: #d2d1d1;" href="{% url 'about' %}" target="_blank">{% trans 'Our Company' %}</a></li>#}
{#                    </ul>#}
{#                </div>#}
                <div class="col-sm-3 col-xs-12 footer- text-center">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">Support</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="http://blog.ikwen.com/" target="_blank">Blog</a></li>
                        <li><a style="color: #d2d1d1;" href="http://support.ikwen.com/" target="_blank">{% trans 'Help desk' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright " style="padding: 3px 0; text-align: center;">
            &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong style="color: #ffffff">{{ config.company_name }}</strong></a>.
        </div>
    </footer>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script>
        (() => {
            $('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'daraja:home' %}");
            let scrollBreakPoint = 90;
            $(window).scroll((event) => {
                let scrollTop = $(this).scrollTop();
                if (scrollTop > scrollBreakPoint){
                    let opacity = Math.abs(scrollBreakPoint - scrollTop) / 100;
                    $('#navbar').css("background-color", `rgba(35, 54, 130, ${opacity})`);
                } else {
                    $('#navbar').css("background-color", "transparent");
                }
            });
        })()
    </script>
{% endblock %}