{% extends 'com/base.html' %}
{% load i18n static %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static "daraja/img/fav-daraja.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/daraja/" />
    <meta property="og:image" itemprop="image" content="{% static 'daraja/img/logo-daraja.png' %}" />
    <meta property="og:title" content="{% trans "ikwen Daraja, become a shareholder of major companies" %}"/>
    <meta property="og:description" content="{% trans "Earn a percentage on the turnover of your favorite companies by joining ikwen Daraja program for free." %}">
    <meta property="description" content="{% trans "Earn a percentage on the turnover of your favorite companies by joining ikwen Daraja program for free." %}" />
    <meta property="og:updated_time" content="1581354714"/>
{% endblock %}

{% block page_title %}
    <title>Daraja - {% trans "Become a shareholder of your favorite companies" %}</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'daraja/css/home.css' %}?v=20.03.31">
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img src="{% static 'tsunami/img/logo_ikwen_web_header.png' %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="section-header-general-view" class="container-fluid section-header" style="padding-top: 6vh;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center " style="padding-top: 18vh">
                <img style="max-width: 180px" alt="logo_ikwen_DARAJA" src="{% static 'daraja/img/logo-daraja.png' %}"/>
              <h1>{% trans 'Become a shareholder of companies you like' %}</h1>
                <p >
                    {% trans "Get your nearest ones to buy online from your favorite companies and earn money out of that." %}
                </p>
                <a  href="{% url 'ikwen:sign_in' %}?next={% url 'daraja:deploy_cloud' %}{% if request.GET.tokens %}%3Ftokens={{ request.GET.tokens }}{% endif %}">
                    <button  type=button class="btn btn-outline-primary btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Register on <b>Daraja</b>" %}</button>
                </a>
                <div class="anchor">
                    <a class="js-scrollTo" href="#banniere-top" style="text-decoration: none"><i class="fa fa-arrow-circle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="banniere-top" class="container-fluid">
        <div class="row section-banniere-top" style="margin-top: 0;">
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 7vh">
              <h1>{% trans 'Become shareholder' %} </h1>
                <a  href="{% url 'ikwen:sign_in' %}?next={% url 'daraja:deploy_cloud' %}{% if request.GET.tokens %}%3Ftokens={{ request.GET.tokens }}{% endif %}">
                    <button  type=button class="btn btn-outline-white btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Register on <b>Daraja</b>" %}</button>
                </a>
            </div>
        </div>
    </div>

    <div class="features" id="container-general-view">
        <section class="features site" style="padding-top: 5vh">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 img continuous-gain">
                        <img class="img-responsive visible-xs" src="{% static 'daraja/img/ikwen-Daraja-continuous-gain.png' %}">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Refer once. Earn forever." %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                Send your referral link to your friends and relatives so that they register on the company’s online shop by using it. From there, get paid every time they buy online !
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Refer once. Earn forever." %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Send your referral link to your friends and relatives so that they register on the company’s online shop by using it. From there, get paid every time they buy online !
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features site">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 visible-xs">
                        <img class="img-responsive" src="{% static 'daraja/img/ikwen-Daraja-budy-coating.png' %}">
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "The more they buy, the more you earn" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Visit companies'websites and share links of products your ones might be interested in. Guide them into buying online and remind them to do so very often to earn more.
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 img budy-coating hidden-xs">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "The more they buy, the more you earn" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                Visit companies'websites and share links of products your ones might be interested in. Guide them into buying online and remind them to do so very often to earn more.
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </section>
        <section class="features site" style="padding-top: 5vh">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 img stock-monitoring">
                        <img class="img-responsive visible-xs" src="{% static 'daraja/img/ikwen-Daraja-stock-monitoring.png' %}">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "All clear! Your money is safe." %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            <p>{% blocktrans %}
                                You know exactly what percentage to earn from every company you partnership with. Get a notification every time a follower buys from your companies.
                                Upon online payment, you receive money on your account immediately and the rest goes to the company. Follow everything from your app.
                            {% endblocktrans %}</p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "All clear! Your money is safe" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                You know exactly what percentage to earn from every company you partnership with. Get a notification every time a follower buys from your companies.
                                Upon online payment, you receive money on your account immediately and the rest goes to the company. Follow everything from your app.
                            {% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="features site">
            <div class="container">
                <div class="row features">
                    <div class="col-sm-6 visible-xs">
                        <img class="img-responsive" src="{% static 'daraja/img/ikwen-Daraja-enterprise-recruitment.png' %}">
                    </div>
                    <div class="col-sm-6 description">
                        <h2>{% trans "Engage companies on Daraja and earn more" %}</h2>
                        <div class="desc">
                            <p>{% blocktrans %}
                                Identify companies that are not yet on Daraja and help them create and run their online Shop.
                                You get paid immediately for recruiting new companies and you become their first shareholder.
                            {% endblocktrans %}</p>
                             <p>
                                <a href="{% url 'daraja:registered_company_list' %}" class="discover-link">{% trans 'See current companies onboard ' %}<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 img enterprise-recruitment hidden-xs">
                        {# Force DIV height by putting the same text and set visibility to hidden #}
                        <h2 class="hidden-xs" style="visibility: hidden">{% trans "Engage companies on Daraja and earn more" %}</h2>
                        <div class="desc hidden-xs" style="visibility: hidden">
                            {% blocktrans %}
                            <p>
                                Identify companies that are not yet on Daraja and help them create and run their online Shop.
                                You get paid immediately for recruiting new companies and you become their first shareholder.
                            </p>
                            {% endblocktrans %}
                            <p>
                                <a href="{% url 'daraja:registered_company_list' %}" class="discover-link">{% trans 'See current companies onboard ' %}<i class="fa fa-arrow-circle-right animated infinite slideInLeft"></i></a>
                            </p>
                        </div>
                        {# End Force DIV height #}
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <div class="row section-banniere">
                <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 text-center" style="padding-top: 3.5vh">
                  <h1>{% trans 'Become shareholder' %}</h1>
                    <a  href="{% url 'ikwen:sign_in' %}?next={% url 'daraja:deploy_cloud' %}{% if request.GET.tokens %}%3Ftokens={{ request.GET.tokens }}{% endif %}">
                        <button  type=button class="btn btn-outline-primary btn-deploy animated pulse " style="margin-top: 20px; height: 45px;">{% trans "Register on <b>Daraja</b>" %}</button>
                    </a>
                </div>
            </div>
        </div>
        <a class="js-scrollTo back-to-top hiding" href="#section-header-general-view" style="text-decoration: none; color: #3F3F3F">
            <i class="fa fa-chevron-circle-up"></i>
        </a>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-sm-3" style="margin-top: 4vh; text-align: center;">
                    <a href="{% url 'daraja:home' %}">
                        <img class="footer-logo" src="{% static 'daraja/img/logo-daraja_grey.png' %}" style="max-width: 7vw;"/>
                        <h4 style="color: #ffffff; font-size: 1.8vw; text-align: center;" class="logo footer-title">Daraja</h4>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4 footer-">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'Get started' %}</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="{% url 'daraja:home' %}">{% trans 'Home' %}</a></li>
                        <li><a style="color: #d2d1d1;" href="{% url 'ikwen:sign_in' %}">{% trans 'Sign In' %}</a></li>
{#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Downloads' %}</a></li>#}
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 footer-">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">{% trans 'About us' %}</h5>
                    <ul style=" font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="{% url 'about' %}" target="_blank">{% trans 'Our Company' %}</a></li>
                        {% include 'core/snippets/language_switcher.html' %}
{#                        <li><a style="color: #d2d1d1;" href="#" target="_blank">{% trans 'Contact us' %}</a></li>#}
{#                        <li><a style="color: #d2d1d1;" href="{% url 'daraja:for_businesses' %}" target="_blank">{% trans 'For business' %}</a></li>#}
                    </ul>
                </div>
                <div class="col-sm-3 col-xs-4 footer-">
                    <h5 style="color: #ffffff; font-weight: bold; font-size: 2vw; margin-top: 5vh;">Support</h5>
                    <ul style="font-size: 1.2vw; line-height: 1.7; list-style-type: none; padding-left: 0">
                        <li><a style="color: #d2d1d1;" href="http://blog.ikwen.com/" target="_blank">Blog</a></li>
                        <li><a style="color: #d2d1d1;" href="http://support.ikwen.com/daraja" target="_blank">{% trans 'Help desk' %}</a></li>
{#                        <li><a style="color: #d2d1d1; text-decoration: none" href="#" target="_blank">Forums</a></li>#}
                    </ul>
                </div>
{#                <div class="col-sm-3 footer-">#}
{#                    <div class="social-networks" style="padding-bottom: 16px; padding-top: 30px; text-align: center">#}
{#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="twitter"><i class="fa fa-twitter"></i></a>#}
{#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="facebook"><i class="fa fa-facebook"></i></a>#}
{#                        <a style="color: #f9f9f9; padding: 10px; text-decoration: none; transition: 0.2s;" href="#" class="google"><i class="fa fa-google-plus"></i></a>#}
{#                    </div>#}
{#                    <button type="button" class="btn btn-default">Contact us</button>#}
{#                </div>#}
            </div>
        </div>

        <div class="footer-copyright " style="padding: 3px 0; text-align: center;">
            &copy; {{ year }} <a class="company-name" href="{{ service.url }}"><strong style="color: #ffffff">{{ config.company_name }}</strong></a>.
        </div>
    </footer>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'daraja:home' %}");
            let scrollBreakPoint = 90;
            $(window).scroll((event) => {
                let scrollTop = $(this).scrollTop();
                if (scrollTop > scrollBreakPoint){
                    let opacity = Math.abs(scrollBreakPoint - scrollTop) / 100;
                    $('#navbar').css("background-color", `rgba(35, 54, 130, ${opacity})`);
                } else {
                    $('#navbar').css("background-color", "transparent");
                }
            });
        })()
    </script>
{% endblock %}