{% extends "website/base.html" %}
{% load i18n humanize static auth_tokens  %}

{% block page_title %}
    <title> ikwen - DARAJA</title>
{% endblock %}

{% block meta %}
    <link rel="shortcut icon" type="image/png" href="{% static "daraja/img/fav-daraja.ico" %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.ikwen.com/daraja/" />
    <meta property="og:image" itemprop="image" content="{% static 'daraja/img/logo-daraja.png' %}" />
    <meta property="og:title" content="{% trans "ikwen DARAJA, become a stockholder of the major companies" %}"/>
    <meta property="og:description" content="{% trans "Earn a percentage on the turnover of your favorite companies by free registering on the ikwen DARAJA program." %}">
    <meta property="description" content="{% trans "Earn a percentage on the turnover of your favorite companies by free registering on the ikwen DARAJA program." %}" />
    <meta property="og:updated_time" content="1581354714"/>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'website/css/apps.css' %}?v=19.9.15" />
    <style type="text/css">
        .edge-panel-left .wrapper {padding: 0 0 120px;}
        section.main-feat {background:url("{% static 'daraja/img/ikwen-daraja-home-for-business-bg.jpg' %}") center;background-size: cover;}
        footer {background: url({% static 'daraja/img/army-of-dara.jpg' %}) center no-repeat;background-size: cover;
            clear: both; color: #fff; display: block; float: none; height: 75vh; margin: 0;}
        section.address {background-image: none; height: 45vh}
        section.address .cover {background-color: rgba(0, 0, 0, 0.5); color: #2f2f2f; font-weight: 400; height: 75vh}
        section.address .cover h2 {color: #fff; font-size: 33px; font-weight: 600; padding-top: 10vh}
        section.address .cover p {color: #fff; font-size: 18px}
        section.address .cta a {background: #fff; color: #2f2f2f;font-size: 18px;font-weight: 300;}
        section.address a {color: #2f2f2f;font-size: 18px;font-weight: 300;}
        section.site {min-height: 100px; padding: 137px 0}
        section.simulation {min-height: 100px; padding: 100px 0}
        section.site:nth-child(2n) {background-color: #fff}
        section.site img {width: 60%}
        section.install-pwa {background: url({% static 'foulassi/img/foulassi-install-pwa.png' %}) center; background-size: cover}
        section.simulation { font-size: 28px; line-height: 45px; font-weight: 300;}
        #navbar .glyphicon {color: #fff !important;}
        #navbar .btn {background: #FFF !important; color: #233682 !important;}

        #bottom-menu .lang-switcher {margin: 0 0 0 50px;}
        #bottom-menu .lang-switcher select {font-size: 12px; width: 45px}
        #bottom-menu .lang-switcher select:active {background: #111}
        div.footer, div.footer .company-name, #bottom-menu li a, #bottom-menu .lang-switcher select {color: #545454}
        .features h3 {font-weight: 400}
        .features.site {margin-top: 0}
        .features.site h1 {color: #2d2d2d}
        section.site .cover {background: rgba(0, 0, 0, 0.6); height: 100vh; margin-top: 0; top: 0}
        section.site.main-feat.banner {height: 100vh}
        #navbar {background: transparent}
        .navbar-brand strong {color: #fff}
        .navbar-default .navbar-nav>li>a , .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{color: #fff}
        #navbar-search input {background: rgba(102, 102, 102, 0.4);}
        section.site.banner a.btn {background: #fff; border: #233682; color: #233682}
        section.site.banner {margin-top: 0}
        .section.address .cta a {font-size: 18px}
        .features .img { background: no-repeat center; background-origin: content-box; background-size: cover; }

        @media only screen and (max-device-width : 767px) and (orientation: portrait) {
            section.header {height: 410px; margin-top: 0;}
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 70px;}
            section.header h3 {color: #000;font-size: 22px; font-weight: 400; line-height: 44px}
            .company .title {font-size: 35px }
            .pricing-list > li {margin-top: 75px}
            .lead {font-size: 22px}
            .achievements .title {}
            section.address .cover h2 {color: #fff; font-weight: 600}
            #bottom-menu {margin-top: 70px; position: relative}
            #bottom-menu li a {color: #fff; font-size: 22px}
            div.cloud-deploy {bottom: inherit;margin-top: 133px; position: relative}
            .features {padding: 25px 0; margin-top: 0}
            .feat {margin-top: 100px}
            .feat:first-child {margin-top: 0}
            section.main-feat {height: 1000px}

            section.main-feat {background-position: center}
            .contact-img {margin-top: 35px}
            section.site .cover h1 {padding: 0}
            a.btn {margin-top: 50px}
            section.site.banner a.btn {width: 100%}
            footer div {padding: 0}
            .section.address .cta a {font-size: 20px}
            section.install-pwa {background-position: right}
            #install-pwa {text-align: center}
        }

        @media only screen and (max-width : 767px) and (orientation: landscape) {
            .features {padding: 25px 0; margin-top: 50px}
            .feat {margin-top: 20px}

            section.header {height: 510px; margin-top: 0;}
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 70px;}
            section.header h3 {color: #000;font-size: 22px; font-weight: 400; line-height: 44px;}
            div.cloud-deploy {bottom: inherit;margin-top: 225px; position: relative}
            section.site img {width: 60%}

            section.site.banner p {margin-top: 25px; font-size: 21px;line-height: 40px;}
            section.site.banner h1 {font-size: 60px;line-height: 65px; font-weight: 700}
            .cta {text-align: center}
            a.btn {margin-top: 50px}
        }

        @media only screen and (max-device-width : 767px) {
            section.site {padding: 30px 0}
            section.simulation {padding: 20px 0}
            section.site.banner h1 {font-size: 30px;line-height: 45px; font-weight: 600}
            section.site h2 {font-size: 24px; font-weight: 600; line-height: 30px; text-align: left;}
            section.simulation h2 {font-size: 24px; font-weight: 600; line-height: 30px; margin-bottom: 25px!important; text-align: center;}
            section.site p {margin-top: 25px; text-align: justify; font-size: 18px; font-weight: 400; line-height: 30px;}
            #navbar-search input {background: none}
            div.expected {padding-top: 30px!important;}
        }

        @media only screen and (min-width : 768px) and (orientation: landscape) {
            section.site.banner h1 {margin-top: 40px}
            section.site .cover .btn {margin-top: 25px}
            section.address {height: 60vh}
            section.address .cta {margin-top: 80px}
        }

        @media only screen and (min-width : 768px) and (orientation: portrait) {
            section.site .cover {height: 650px}
            section.site.main-feat.banner {height: 650px}
            section.site.banner h1 {margin-top: 110px}
            footer, section.address .cover {height: 540px}
        }

        @media only screen and (min-width : 768px) {
            section.site {padding: 60px 0}
            section.simulation {padding: 50px 0}
            section.site .cover p {font-size: 21px; font-weight: 400; line-height: 35px}
            section.site.banner h1 {font-size: 51px; font-weight: 700;line-height: 65px}
            section.site h2 {font-size: 24px; font-weight: 600; line-height: 40px; text-align: left;}
            section.simulation h2 {font-size: 24px; font-weight: 600; line-height: 40px; text-align: center;}
            section.site p {margin-top: 25px; text-align: justify; font-size: 18px; font-weight: 400; line-height: 30px;}

            .img.increase-revenue {background-image: url('{% static "daraja/img/ikwen-daraja-increase-revenue.png" %}')}
            .img.smart-database {background-image: url('{% static "daraja/img/ikwen-daraja-smart-database.png" %}');}
            .img.improve-brand {background-image: url('{% static "daraja/img/ikwen-daraja-improve-brand.png" %}')}
            .img.affordable-digital {background-image: url('{% static "daraja/img/ikwen-daraja-afordable-digital.png" %}')}
        }

        @media only screen and (max-width : 991px) {
            div.footer, #bottom-menu li a {font-size: 15px}
        }

        @media only screen and (min-width : 992px) {
            .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {color: #fff}
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 130px;}
            section.header h3 {color: #000; font-size: 33px;font-weight: 400;  line-height: 94px;}
            section.header {height: 900px}
            .features p {line-height: 40px}
            section.site .smart-database, section.site .increase-revenue {width: 40%}
            section.site .improve-brand, section.site .affordable-digital {width: 35%}
            section.site.banner {text-align: left; padding-top: 0; height: 900px}
            section.site.banner p {margin-top: 25px; text-align: center;font-size: 21px;line-height: 40px;}
            section.site.banner h1 {font-size: 51px; font-weight: 700;line-height: 65px; margin-top: 110px}
            section.site.banner .video {margin-top: 58px}
            .feat h2 {padding-bottom: 30px; font-size: 32px; font-weight: 600; text-align: left}
            footer, section.address .cover {height: 540px}
            section.address {height: 490px}
            section.address .cover h2 {padding-top: 50vh}
            section.address .cta {margin-top: 50px}
        }

        @media only screen and (min-width : 1200px) {
            section.header .banner-title-cntr {background-color: rgba(255, 255, 255, 0.7); margin-top: 170px;}
            section.site {padding: 135px 0}
            section.simulation {padding: 50px 0}
            section.site.banner h1 {margin-top: 35vh}
            section.site h2, section.simulation h2 {font-size: 33px}
            section.header h3 {color: #000; font-size: 33px;font-weight: 400;  line-height: 94px;}
            section.header {height: 1015px}
            div.cloud-deploy {bottom: 250px}
            section.site.header {height: 1000px}
            footer, section.address .cover {height: 670px}
            section.address {height: 600px}
            label.label-expected { margin: 10px 0 20px;}
            label.average-revenue {float: right}
            input.average-revenue {text-align: right}
        }

        {#Annimation set#}

        .animated { -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }


        .puffOut { -webkit-animation-name: puffOut; animation-name: puffOut; }

        @-webkit-keyframes puffOut {
            0% { opacity: 1; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transform: scale(1,1); transform: scale(1,1); -webkit-filter: blur(0px); filter: blur(0px); }

            100% { opacity: 0; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transform: scale(3,3); transform: scale(3,3); -webkit-filter: blur(3px); filter: blur(3px); }
        }

        @keyframes puffOut {
            0% { opacity: 1; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transform: scale(1,1); transform: scale(1,1); -webkit-filter: blur(0px); filter: blur(0px); }

            100% { opacity: 0; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transform: scale(3,3); transform: scale(3,3); -webkit-filter: blur(3px); filter: blur(3px); }
        }
    </style>
{% endblock %}

{% block header_brand %}
    <a class="navbar-brand hidden-xs" href="{{ service.url }}">
        <img style="height: 30px" src="{% static 'tsunami/img/logo_ikwen_web_header.png' %}"/>
    </a>
    <strong class="navbar-brand visible-xs">{{ service.project_name }}</strong>
{% endblock %}

{% block head_js %}
    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
            .then((reg) => {
              console.log('Service worker registered.', reg);
            });
      });
    }
    </script>
    {{ block.super }}
{% endblock %}

{% block page_content %}
    <section class="main-feat banner site">
        <div class="cover">
            <div class="container text-center">
                <div class="row desc" >
                    <div class="col-xs-12">
                        <h1>{% blocktrans %}Increase your turnover with<br> an army of salespeople.{% endblocktrans %}</h1>
                        <p>
                            {% trans "Hundreds of marketing agents ready to work online for you." %}
                        </p>
                    </div>
                </div>
                <div class="cta" style="font-weight: 600; width: 100%">
                    <a id="deploy" class="btn btn-sm " href="{% url 'tsunami:bundles' %}" style="font-weight: 600">{% trans "Hire them now" %}</a>
                </div>
            </div>
        </div>
    </section>
    <section class="features site">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 visible-xs">
                    <img class="img-responsive" src="{% static 'daraja/img/ikwen-daraja-increase-revenue.png' %}">
                </div>
                <div class="col-sm-6 description">
                    <h2>{% trans "Lower total payroll and marketing costs while increasing revenue" %}</h2>
                    <div class="desc">
                        <p>{% blocktrans %}
                            No salary for the sales person, he gets paid only by a percentage that YOU decide. No flyer, no radio or TV ad, no social media sponsoring.
                            Your sales people share their products to their contacts and turn them into new customers.
                        {% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-sm-6 img increase-revenue hidden-xs">
                    {# Force DIV height by putting the same text and set visibility to hidden #}
                    <h2 class="hidden-xs" style="visibility: hidden">{% trans "Lower total payroll and marketing costs while increasing revenue" %}</h2>
                    <div class="desc hidden-xs" style="visibility: hidden">
                        <p>{% blocktrans %}
                            No salary for the sales person, he gets paid only by a percentage that YOU decide. No flyer, no radio or TV ad, no social media sponsoring.
                            Your sales people share their products to their contacts and turn them into new customers.
                        {% endblocktrans %}</p>
                    </div>
                    {# End Force DIV height #}
                </div>
            </div>
        </div>
    </section>
    <section class="features site">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 img smart-database">
                    <img class="img-responsive visible-xs" src="{% static 'daraja/img/ikwen-daraja-smart-database.png' %}">
                    {# Force DIV height by putting the same text and set visibility to hidden #}
                    <h2 class="hidden-xs" style="visibility: hidden">{% trans "Build a smart customer database" %}</h2>
                    <div class="desc hidden-xs" style="visibility: hidden">
                        <p>{% blocktrans %}
                            Daras share your links and people register on your online plateform providing their names, emails and phone numbers.
                            Thos precious data help you build a solid relationship with your clients by talking to them directly.
                        {% endblocktrans %}</p>
                    </div>
                    {# End Force DIV height #}
                </div>
                <div class="col-sm-6 description">
                    <h2>{% trans "Build a smart customer database" %}</h2>
                    <div class="desc">
                        <p>{% blocktrans %}
                            Daras share your links and people register on your online plateform providing their names, emails and phone numbers.
                            Thos precious data help you build a solid relationship with your clients by talking to them directly.
                        {% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features site">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 visible-xs">
                    <img class="img-responsive" src="{% static 'daraja/img/ikwen-daraja-improve-brand.png' %}">
                </div>
                <div class="col-sm-6 description">
                    <h2>{% trans "Improve your brand image" %}</h2>
                    <div class="desc">
                        <p>{% blocktrans %}
                            People tend to think that digital area is only for big companies. Seize this opportunity to improve your brand image for customers.
                            You will be closer to those, closer to your Daras and their nearest ones.
                        {% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-sm-6 img improve-brand hidden-xs">
                    {# Force DIV height by putting the same text and set visibility to hidden #}
                    <h2 class="hidden-xs" style="visibility: hidden">{% trans "Improve your brand image" %}</h2>
                    <div class="desc hidden-xs" style="visibility: hidden">
                        <p>{% blocktrans %}
                            People tend to think that digital area is only for big companies. Seize this opportunity to improve your brand image for customers.
                            You will be closer to those, closer to your Daras and their nearest ones.
                        {% endblocktrans %}</p>
                    </div>
                    {# End Force DIV height #}
                </div>
            </div>
        </div>
    </section>
    <section class="features site">
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 img affordable-digital">
                    <img class="img-responsive visible-xs" src="{% static 'daraja/img/ikwen-daraja-afordable-digital.png' %}">
                    {# Force DIV height by putting the same text and set visibility to hidden #}
                    <h2 class="hidden-xs" style="visibility: hidden">{% trans "Your digital department now affordable" %}</h2>
                    <div class="desc hidden-xs" style="visibility: hidden">
                        <p>{% blocktrans %}
                            Just like multinationals, get an external, yet powerful digital department that you can trust.
                            IT experts dedicated to Cloud business are taking care of your digital assets daily.
                        {% endblocktrans %}</p>
                    </div>
                    {# End Force DIV height #}
                </div>
                <div class="col-sm-6 description">
                    <h2>{% trans "Your digital department now affordable" %}</h2>
                    <div class="desc">
                        <p>{% blocktrans %}
                            Just like multinationals, get an external, yet powerful digital department that you can trust.
                            IT experts dedicated to Cloud business are taking care of your digital assets daily.
                        {% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="simulation">
        <div class="container">
            <h2 class="text-center" style="margin-bottom: 70px">{% trans "Estimate your potential revenue" %}</h2>
            <div class="col-md-6 col-xs-12">
                <label class="dara-count">{% trans "Number of Dara" %}</label>
                <input type="number" value="5" class="form-control dara-count">
            </div>
            <div class="col-md-6 col-xs-12">
                <label class="average-revenue">{% trans "Average sales per day" %}</label>
                <input type="number" value="5000" step="1000" class="form-control average-revenue">
            </div>
            <div class="clearfix"></div>
            <div class="text-center expected" style="padding-top: 50px">
                <label class="label-expected">{% trans "Expected additional monthly revenue" %}</label>
                <label style="display: block" class=""><span class="text-muted" style="display: inline">XAF </span><strong class="expected-revenue animated" style="font-size: 2em; font-weight: 600" >750 000 </strong></label>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <section class="address">
            <div>
                <div class="cover">
                    <h2 class="title animated wow fadeInLeft">
                        {% trans "Activate your Daraja program now" %}
                    </h2>
                    <p class="lead animated wow fadeInDown">
                        {% trans "And take over the markets." %}
                    </p>
                    <div class="cta" style="text-align: center">
                        <a id="deploy" class="btn btn-sm" href="{% url 'tsunami:bundles' %}" style="font-weight: 600">{% trans "Get enhanced" %}</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
    </footer>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('#site-menu a.cta').attr('href', "{% url 'ikwen:sign_in' %}?next={% url 'daraja:home' %}");
            let scrollBreakPoint = 90;
            $(window).scroll((event) => {
                let scrollTop = $(this).scrollTop();
                if (scrollTop > scrollBreakPoint){
                    let opacity = Math.abs(scrollBreakPoint - scrollTop) / 100;
                    $('#navbar').css("background-color", `rgba(35, 54, 130, ${opacity})`);
                } else {
                    $('#navbar').css("background-color", "transparent");
                }
            });
            $('input.dara-count').on('change', function() {
                let daraCount = $(this).val();
                let averageRevenue = $('input.average-revenue').val();
                let expectedRevenue = daraCount * averageRevenue * 30;
                $('strong.animated').addClass('puffOut');
                setTimeout(() => { $('strong.animated').removeClass('puffOut')}, 500);
                setTimeout(() => { $('strong.expected-revenue').text(expectedRevenue.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}'))}, 400);

            });
            $('input.average-revenue').on('change', function() {
                let averageRevenue = $(this).val();
                let daraCount = $('input.dara-count').val();
                let expectedRevenue = daraCount * averageRevenue * 30;
                $('strong.animated').addClass('puffOut');
                setTimeout(() => { $('strong.animated').removeClass('puffOut')}, 500);
                setTimeout(() => { $('strong.expected-revenue').text(expectedRevenue.formatMoney(0, '{{ settings.THOUSAND_SEPARATOR }}', '{{ settings.DECIMAL_SEPARATOR }}'))}, 400);
            });
        })()
    </script>
{% endblock %}
