{% extends 'core/base_bs.html' %}
{% load i18n static user_agents %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static 'daraja/img/logo-daraja.png' %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
{% endblock %}

{% block page_title %}
    <title>{% blocktrans %}Partnership invitation from {{ company_name }}{% endblocktrans %} - ikwen Daraja</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/css/deploy-minimal.css' %}">
    <style>
        footer {position: static; margin-top: 60px}
        body > .container {font-size: 18px; margin-top: 12vh}
        body > .container .btn {width: 240px}
        .get-started {border: 1px solid #f00; padding: 30px 15px}
        @media (max-width: 767px) {
            body > .container {margin-top: 10vh}
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
<!--            style="background: #f7f7f7"-->
            <img class="main-img" src="{% static 'daraja/img/logo-daraja.png' %}" />
            <h2 class="main-title text-center" style="padding: 4vh 0; font-weight: bold;">
                {% blocktrans %}Invitation from {{ company_name }}{% endblocktrans %}
            </h2>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div>
                <p style="text-align: center;">{% blocktrans %}
                    <strong>{{ company_name }}</strong> is inviting you to become partner through Daraja program.
                    <br>Get {{ share_rate }}% for online purchases made by people you refer.
                    <br>You receive money immediately after transactions.
                {% endblocktrans %}</p>
                <div class="clearfix"></div>
            </div>
            <div class="text-center accept" style="margin-top: 5vh">
                <button class="btn btn-deep-blue">
                    {% include 'core/snippets/button_spinner.html' %}
                    <strong>{% trans "Accept" %}</strong>
                </button>
            </div>
            <div class="text-center get-started" style="display: none; font-size: .9em; margin-top: 5vh">
                <p class="text-danger">{% blocktrans %}
                    You're not yet on Daraja. You must join the program before you can
                    partnership with {{ company_name }}.
                {% endblocktrans %}</p>
                <a href="{% url 'daraja:home' %}?inviter={{ ikwen_name }}" class="btn btn-green">
                    {% include 'core/snippets/button_spinner.html' %}
                    <strong>{% trans "Join the program" %}</strong>
                </a>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center invitation-accepted" style="display: none; font-size: .9em; margin-top: 5vh">
                <p class="text-success">{% blocktrans with company_url=company.url %}
                    Great! You are now partner with {{ company_name }}. Get {{ share_rate }}% for getting someone to buy
                    online on {{ company_url }}. You must invite them first by sharing your link below.
                {% endblocktrans %}</p>
                <a href="{% url 'ikwen:company_profile' ikwen_name %}?referrer={{ user.id }}" class="btn btn-green">
                    {% include 'core/snippets/button_spinner.html' %}
                    <strong>{% trans "Invite someone now" %}</strong>
                </a>
{#                <a href="{% url 'ikwen:company_profile' ikwen_name %}?referrer={{ user.id }}" class="btn btn-green">#}
{#                    {% include 'core/snippets/button_spinner.html' %}#}
{#                    <strong>{% trans "Invite someone now" %}</strong>#}
{#                </a>#}
{#                <a href="{% url 'ikwen:company_profile' ikwen_name %}?referrer={{ user.id }}" class="btn btn-green">#}
{#                    {% include 'core/snippets/button_spinner.html' %}#}
{#                    <strong>{% trans "Invite someone now" %}</strong>#}
{#                </a>#}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            $('.accept .btn').click(() => {
                let _$btn = $(this);
                _$btn.addClass('processing');
                $.getJSON('', {action: 'accept'}, function(data) {
                    _$btn.removeClass('processing');
                    if (data.error) {
                        $('.accept, .get-started').toggle()
                        //$('.accept, .invitation-accepted').toggle()
                    } else if (data.success) {
                        $('.accept, .invitation-accepted').toggle()
                    }
                })
            });
        })()
    </script>

{% endblock %}