{% extends 'core/base_bs.html' %}
{% load i18n static user_agents %}

{% block meta %}
    {% include 'daraja/snippets/color_and_icons.html' %}
    <meta name="apple-mobile-web-app-title" content="Daraja" />

    <meta name="abstract" content="{% blocktrans %}Partnership invitation from {{ company_name }}{% endblocktrans %}"/>
    <meta name="description" content="{% blocktrans %}Let's do business together.{%endblocktrans %}"/>

    <meta property="og:title" content="{% blocktrans %}Partnership invitation from {{ company_name }}{% endblocktrans %}" />
    <meta property="og:image" content="{% static 'daraja/icons/icon-180x180.png' %}" />
    <meta property="og:description" content="{% blocktrans %}Let's do business together.{%endblocktrans %}"/>

{#    <link rel="manifest" href="{% static 'foulassi/manifest.json' %}">#}
    <link rel="manifest" href="/daraja/manifest.json">
{% endblock %}

{% block page_title %}
    <title>{% blocktrans %}Partnership invitation from {{ company_name }}{% endblocktrans %} - ikwen Daraja</title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'ikwen/css/deploy-minimal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'daraja/css/daraja-admin.css' %}?v=19.11.5">
    <link rel="stylesheet" type="text/css" href="{% static 'daraja/css/daraja.css' %}?v=19.11.5">
    <style>
        footer {position: static; margin-top: 60px}
        body > .container {font-size: 18px; margin-top: 16vh}
        body > .container .btn {width: 240px;}
        .get-started {border: 1px solid #f00; padding: 30px 15px}
        @media (max-width: 767px) {
            body > .container {margin-top: 13vh}
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        {% for msg in messages %}
            <p class="success" style="padding: 9px">{{ msg }}</p>
        {% endfor %}
        <div class="text-center">
<!--            style="background: #f7f7f7"-->
            <img class="main-img" src="{% static 'daraja/img/logo-daraja.png' %}" />
            <div class="main-title">
                <h2 class="text-center">{{ company_name }}</h2>
                {% if invitation_already_accepted %}
                    <p class="text-muted">{% trans "thanks you for accepting invitation" %}</p>
                {% else %}
                    <p class="text-muted">{% trans "is inviting you to partnership" %}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            {% if not invitation_already_accepted %}
                <div>
                    <p class="text-center invitation">{% blocktrans %}
                        Hello, we would like to partnership with you through Daraja program.<br>
                        Get <strong>{{ share_rate }}%</strong> for online purchases made by people you refer.<br>
                        You receive money immediately after transactions.
                    {% endblocktrans %}</p>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center accept" style="margin-top: 5vh">
                    <button class="btn btn-deep-blue">
                        {% include 'core/snippets/button_spinner.html' %}
                        <strong>{% trans "Accept" %}</strong>
                    </button>
                </div>
            {% endif %}
            <div class="text-center get-started">
                <p class="text-danger">{% blocktrans %}
                    You're not yet on Daraja. You must join the program before you can
                    partnership with {{ company_name }}.
                {% endblocktrans %}</p>
                <a href="{% url 'daraja:home' %}?tokens={{ ikwen_name }}-{{ request.GET.invitation_id }}" class="btn btn-green">
                    {% include 'core/snippets/button_spinner.html' %}
                    <strong>{% trans "Join the program" %}</strong>
                </a>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center invitation-accepted"
                 {% if invitation_already_accepted %}style="display: block"{% endif %}>
                <p class="text-success">{% blocktrans with company_url=company.url %}
                    Great! You are now partner with {{ company_name }}. Get <strong>{{ share_rate }}%</strong> for getting someone to buy
                    online on {{ company_url }}. You must invite them first by sharing your link below.
                {% endblocktrans %}</p>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-4 col-xs-4" data-href="{{ service.url }}{{ product_url }}" data-layout="button" data-mobile-iframe="true">
                        <a class="social-share btn btn-block" target="_blank"  href="https://www.facebook.com/sharer/sharer.php?u={{ company.url }}"  style="background: #3b5998;">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <a class="social-share btn btn-block" data-toggle="modal" data-target="#twitter-share" href="https://twitter.com/intent/tweet?url={{ company.url }}" style="background: #1da1f2;">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <button class="social-share btn btn-block visible-xs" data-toggle="modal" data-target="#whatsapp-share" style="background: #25d366;">
                            <i class="fab fa-whatsapp"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {#    Modal declaration : BEGIN #}
    <div class="modal fade" id="whatsapp-share" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Share on WhatsApp" %}</h4>
                </div>
                <div class="modal-body text-center">
                    <form onclick="return false" class="form-horizontal">
                        <div class="form-group row">
                            <label for="whatsapp-share-msg" class="col-sm-5 col-md-4">{% trans "Message" %}</label>
                            <div class="col-sm-7 col-md-8">
                                {% if company.config.is_standalone %}
                                <textarea id="whatsapp-share-msg" style="height: 120px"
                                          class="form-control input-sm">{% blocktrans %}Hello, I find this interesting for you. You can order online and get delivered where you want.{% endblocktrans %}</textarea>
                                {% else %}
                                <textarea id="whatsapp-share-msg" style="height: 120px"
                                          class="form-control input-sm">{% blocktrans %}Do you know {{ company_name }} on ikwen ? I found it interesting for you. You should check it out.{% endblocktrans %}</textarea>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <div class="actions">
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-success btn-block btn-sm ok"
                                    data-dismiss="modal" aria-label="OK">OK</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                            <button class="btn btn-default btn-block btn-sm"
                                    data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {#    Modal declaration : END #}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            let userId;
            $('.accept .btn').click(() => {
                let _$btn = $(this);
                _$btn.addClass('processing');
                $.getJSON('', {action: 'accept'}, function(data) {
                    _$btn.removeClass('processing');
                    if (data.error) {
                        $('.accept, .get-started').toggle()
                    } else if (data.success) {
                        $('.accept, .invitation-accepted').toggle();
                        userId = data.user_id; // User ID may be moved to the one found in inviter's DB
                    }
                    $('body > .container').css('margin-top', '13vh');
                })
            });
            $('body').on('click', '#whatsapp-share .btn.ok', () => {
                let msg = $('#whatsapp-share-msg').val(), url;
                {% if company.config.is_standalone %}
                    url = '{{ company.url }}?referrer=' + userId;
                {% else %}
                    url = 'https://ikwen.com/{{ company.project_name_slug }}?referrer=' + userId;
                {% endif %}
                window.location = 'https://api.whatsapp.com/send?text=' + url + '%0A%0A' + msg;
            });
        })()
    </script>

{% endblock %}