{% extends "core/base_bs.html" %}
{% load i18n humanize staticfiles auth_tokens currency %}

{% block meta %}
    {% include 'daraja/snippets/color_and_icons.html' %}
{% endblock %}

{% block page_title %}<title>{% trans "Registered companies" %} - Daraja</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'daraja/css/daraja.css' %}?v=19.11.7" />
    <style>
        body {background: #f8f6f6}
        @media (max-width: 767px) {
            #navbar .menu-button {display: none}
            #navbar .navbar-brand {margin-left: 20px}
            .company-list .main-title {display: none}
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="search-school">
                <form class="col-sm-8 col-sm-offset-2">
                    <label for="company-name" class="sr-only">{% trans "Search for a company" %}</label>
                    <div class="input-group">
                        <input id="company-name" class="form-control" type="text" name="q"
                               placeholder="{% trans "Company name" %}" autofocus autocomplete="off"/>
                        <div class="do-search input-group-addon">
                            <i class="fa fa-search" style="color: #555"></i>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            {% if object_list %}
                <div class="company-list">
                    <ul class="object-list" style="padding-left: 0">
                        {% for obj in object_list %}
                            {% with company=obj.service config=obj.service.config %}
                                <li id="{{ company.id }}" class="ik-li">
                                    {% if config.logo.name %}
                                        <div class="image company-image">
                                            <div>
                                                <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" alt="{{ company.project_name }}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="image">
                                            <i class="fas fa-building"></i>
                                        </div>
                                    {% endif %}
                                    <div class="info">
                                        <h3 class="full_name">{{ config.company_name }}</h3>
                                        <ul class="text-muted">
                                            <li class="share-rate">
                                                <span class="badge badge-{{ obj.share_rate_bound }}">
                                                    {% blocktrans with share_rate=obj.referrer_share_rate|floatformat %}
                                                        {{ share_rate }}<sup>%</sup> share
                                                    {% endblocktrans %}
                                                </span>
                                            </li>
                                            <li class="avg-purchase">{% trans "Avg purchase: " %}<span>XAF {{ obj.avg_purchase|intcomma }}</span></li>
                                            <li class="company-basic-info hidden-xs ">
                                                {% if config.contact_email %}{{ config.contact_email }}{% endif %}{% if config.contact_phone %}, {{ config.contact_phone|truncatechars:"20" }}{% endif %}{% if obj.location %}, {{ obj.location }}{% endif %}
                                            </li>
                                            <li class="company-basic-info visible-xs">
                                                {% if obj.location %}{{ obj.location }}{% else %}{{ config.contact_email }}{% endif %}
                                            </li>
                                            <li class="company-description">
                                                {{ obj.description }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="actions">
                                        <button class="btn btn-sm btn-green apply request" data-id="{{ company.id }}" data-toggle="modal" data-target="error-handler">{% trans "Request" %}</button>
                                    </div>
                                    <div class="actions simulate-earning-container hidden">
                                        <button class="btn btn-sm btn-primary apply" data-id="{{ company.id }}">{% trans "Simulate earnings" %}</button>
                                    </div>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                    <div class="clearfix"></div>
                </div>
            {% else %}
                <div style="margin-top: 6vh; text-align: center">
                    <h4>{{ request.GET.q }}</h4>
                    <p class="text-muted">{% trans "Sorry! No result found." %}</p>
                </div>
            {% endif %}
        </div>

        {#    Modal declaration : BEGIN #}
        <div class="modal fade" id="anonymous-user" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-body text-center" style="background-image: url({% static 'daraja/img/architecture-entreprise.jpg' %});">
                        <span id="anonymous-user-msg">{% blocktrans %}Aww!! It looks like you're not yet login. Please do it before continue...{% endblocktrans %}</span>
                        <div>
                            <div class="actions">
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <a href="{% url 'ikwen:sign_in' %}?next={% url 'daraja:home' %}" class="btn btn-success btn-block btn-sm ok">{% trans 'Log in' %}</a>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <button class="btn btn-default btn-block btn-sm" data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#    Modal declaration : END #}

        {#    Modal declaration : BEGIN #}
        <div class="modal fade" id="not-yet-dara" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-body text-center" style="background-image: url({% static 'daraja/img/architecture-entreprise.jpg' %});">
                            <span id="not-yet-dara-msg">{% blocktrans %}Please you need to be a Dara before perform this action.{% endblocktrans %}</span>
                        <div>
                           <div class="actions">
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <a href="{% url 'daraja:deploy_cloud' %}{% if request.GET.inviter %}%3Finviter={{ request.GET.inviter }}{% endif %}" class="btn btn-success btn-block btn-sm ok">{% trans 'Become a Dara' %}</a>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <button class="btn btn-default btn-block btn-sm" data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#    Modal declaration : END #}
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            $('.btn.apply:not(.processing)').click(function() {
                let _$btn = $(this),
                    companyId = _$btn.data('id');
                _$btn.addClass('processing');
                $.getJSON('', {action: 'apply', service_id: companyId}, function(resp) {
                    _$btn.removeClass('processing');
                    if (resp.error === 'anonymous_user') {
                        $('#anonymous-user').modal({backdrop: 'static'});
                        return;
                    }
                    if (resp.error === 'not_yet_dara') {
                        $('#not-yet-dara').modal({backdrop: 'static'});
                        return;
                    }
                    _$btn.fadeOut();
                })
            });
            $('.company-list .image, .company-list .info').click((e) => {
                $(e.target).parents('.ik-li').toggleClass('disclosed');
            });

        })()
    </script>
{% endblock %}