{% extends "core/base_bs.html" %}
{% load i18n humanize staticfiles auth_tokens currency webdesign %}

{% block meta %}
    {% include 'daraja/snippets/color_and_icons.html' %}
{% endblock %}

{% block page_title %}<title>{% trans "Registered companies" %} - Daraja</title>{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'daraja/css/daraja.css' %}?v=19.11.28.10.10" />
    <style>
        body {background: #f8f6f6}
        @media (max-width: 767px) {
            #navbar .menu-button {display: none}
            #navbar .navbar-brand {margin-left: 20px}
            .company-list .main-title {display: none}
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="search-school">
                <form class="col-sm-8 col-sm-offset-2">
                    <label for="company-name" class="sr-only">{% trans "Search for a company" %}</label>
                    <div class="input-group">
                        <input id="company-name" class="form-control" type="text" name="q"
                               placeholder="{% trans "Company name" %}" autofocus autocomplete="off"/>
                        <div class="do-search input-group-addon">
                            <i class="fa fa-search" style="color: #555"></i>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            {% if object_list %}
                <div class="company-list">
                    <div class="object-list" style="padding-left: 0">
                        {% for obj in daraja_config_list %}
                            {% with company=obj.service config=obj.service.config %}
                                <div id="{{ company.id }}" class="ik-li">
                                    {% if config.logo.name %}
                                        <div class="image company-image">
                                            <div>
                                                <img src="{{ settings.IKWEN_MEDIA_URL }}{{ config.logo.name }}" alt="{{ company.project_name }}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="image">
                                               <i class="fas fa-building"></i>
                                        </div>
                                    {% endif %}
                                    <div class="info">
                                        <div class="info-header">
                                            <span class="hidden-xs hidden-sm">
                                                <h3 class="full_name">{{ config.company_name }}&nbsp;&nbsp;<span class="share-rate badge badge-{{ obj.share_rate_bound }}">
                                                {% blocktrans with share_rate=obj.referrer_share_rate|floatformat %}
                                                    {{ share_rate }}<sup>%</sup> share
                                                {% endblocktrans %}</span>
                                                </h3>
                                            </span>
                                            <div class="visible-xs visible-sm">
                                                <h3 class="full_name clearfix">{{ config.company_name }}</h3>
                                                <div class="share-rate badge badge-{{ obj.share_rate_bound }}">
                                                    {% blocktrans with share_rate=obj.referrer_share_rate|floatformat %}
                                                        {{ share_rate }}<sup>%</sup> share
                                                    {% endblocktrans %}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="text-muted hidden-xs">
                                            <div class="avg-purchase">
                                                {% trans "Avg purchase: " %}<span>XAF {{ obj.avg_purchase|intcomma }}</span>
                                            </div>
                                            <div class="business">
                                                <h4 class="estimate-earnings-title">{% trans "Estimate your earnings" %}</h4>
                                                <div class="form-group estimate-earnings">
                                                    <div class="col-md-5 col-xs-12">
                                                        <label class="col-form-label">{% trans "Daily sales" %}</label>
                                                        <input type="number" step="1000" value="{{ obj.daily_sales }}" data-share-rate="{{ obj.referrer_share_rate }}" class="daily-sales form-control">
                                                    </div>
                                                    <div class="col-md-5 col-md-offset-2 pull-right hidden-sm hidden-xs">
                                                        <label >{% trans "Monthly income" %}</label>
                                                        <div>
                                                            XAF&nbsp;<span class="monthly-income form-row"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 visible-sm visible-xs">
                                                        <label>{% trans "Monthly income" %}</label>
                                                        <div>
                                                            XAF&nbsp;<span class="monthly-income form-row"></span>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <button class="btn btn-sm btn-green apply{% if obj.can_request %} can-request{% endif %}{% if user.is_anonymous %} anonymous{% endif %} {% if obj.is_subscribed %} is-subscribed{% endif %}"
                                                data-id="{{ company.id }}" data-name="{{ config.company_name }}" data-url="{{ company.url }}" data-toggle="modal" data-target="error-handler">{% trans "Request" %}</button>
                                    </div>
                                    <div class="actions simulate-earning-container hidden">
                                        <button class="btn btn-sm btn-primary apply" data-id="{{ company.id }}">{% trans "Simulate earnings" %}</button>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="other-details">
                                        <div class="text-muted visible-xs">
                                            <div class="avg-purchase">
                                                {% trans "Avg purchase: " %}<span>XAF {{ obj.avg_purchase|intcomma }}</span>
                                            </div>
                                            <div class="business">
                                                <h4 class="estimate-earnings-title">{% trans "Estimate your earnings" %}</h4>
                                                <div class="form-group estimate-earnings">
                                                    <div class="col-md-5 col-xs-12">
                                                        <label class="col-form-label">{% trans "Daily sales" %}</label>
                                                        <input type="number" step="1000" value="{{ obj.daily_sales }}" data-share-rate="{{ obj.referrer_share_rate }}" class="daily-sales form-control">
                                                    </div>
                                                    <div class="col-md-5 col-md-offset-2 pull-right hidden-sm hidden-xs">
                                                        <label >{% trans "Monthly income" %}</label>
                                                        <div>
                                                            XAF&nbsp;<span class="monthly-income form-row"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 visible-sm visible-xs">
                                                        <label>{% trans "Monthly income" %}</label>
                                                        <div>
                                                            XAF&nbsp;<span class="monthly-income form-row"></span>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="company-url">
                                            {% trans "Visit us on " %} <a href="{{ company.url }}" target="_blank">{{ company.url }}</a>
                                        </div>
                                        <div class="about">
                                            <h4>
                                                {% trans 'How to make money with us ?' %}
                                            </h4>
                                            <h5>{% trans 'Description and products' %}</h5>
                                            <div>
                                                {% if obj.products %}
                                                    {{ obj.products|safe }}
                                                {% else %}
                                                    <em>&lt;{% trans 'Not yet set' %}&gt;</em>
                                                {% endif %}
                                            </div>
                                            <h5>{% trans 'Strategy' %}</h5>
                                            <div>
                                                {% if obj.strategy %}
                                                    {{ obj.strategy|safe }}
                                                {% else %}
                                                    <em>&lt;{% trans 'Not yet set' %}&gt;</em>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% else %}
                <div style="margin-top: 6vh; text-align: center">
                    <h4>{{ request.GET.q }}</h4>
                    <p class="text-muted">{% trans "Sorry! No result found." %}</p>
                </div>
            {% endif %}
        </div>

        {#    Modal declaration : BEGIN #}
        <div class="modal fade" id="acknowledgement" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header text-center text-has-shade" style="background-image: url({% static 'daraja/img/background6.jpg' %});">
                        <div class="bgd-image">
                            <span class="far fa-check-circle" style="font-size: 70px"></span>
                            <div class="clearfix"></div>
                            <div id="acknowledgement-msg" style="margin-top: 20px;">{% blocktrans %}Your request was successfully sent !!!<br><br>You will receive an email from <strong class="company-name"></strong> to confirm your application.{% endblocktrans %}</div>
                        </div>
                    </div>
                    <div class="modal-body text-center">
                       <div class="actions">
                            <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                <button class="btn btn-default btn-success btn-block btn-sm" data-dismiss="modal" aria-label="OK">{% trans "OK" %}</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        {#    Modal declaration : END #}

        {#    Modal declaration : BEGIN #}
        <div class="modal fade" id="anonymous-user" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-body text-center" style="background-image: url({% static 'daraja/img/architecture-entreprise.jpg' %});">
                        <span id="anonymous-user-msg">{% blocktrans %}Aww!! It looks like you're not yet login. Please do it before continue...{% endblocktrans %}</span>
                        <div>
                            <div class="actions">
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <a href="{% url 'ikwen:sign_in' %}?next={% url 'daraja:home' %}" class="btn btn-success btn-block btn-sm ok">{% trans 'Log in' %}</a>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <button class="btn btn-default btn-block btn-sm" data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#    Modal declaration : END #}

        {#    Modal declaration : BEGIN #}
        <div class="modal fade" id="not-yet-dara" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-body text-center" style="background-image: url({% static 'daraja/img/architecture-entreprise.jpg' %});">
                            <span id="not-yet-dara-msg">{% blocktrans %}Please you need to be a Dara before perform this action.{% endblocktrans %}</span>
                        <div>
                           <div class="actions">
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <a href="{% url 'daraja:deploy_cloud' %}{% if request.GET.inviter %}%3Finviter={{ request.GET.inviter }}{% endif %}" class="btn btn-success btn-block btn-sm ok">{% trans 'Become a Dara' %}</a>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3 pull-right action">
                                    <button class="btn btn-default btn-block btn-sm" data-dismiss="modal" aria-label="Close">{% trans "Cancel" %}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#    Modal declaration : END #}
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (function() {
            let val;
            $('.btn.apply:not(.processing)').click(function() {
                let _$btn = $(this),
                    companyId = _$btn.data('id'),
                    companyName = _$btn.data('name'),
                    companyURL = _$btn.data('url');
                if (_$btn.hasClass('anonymous')) {
                    let imageURL = "{% static 'daraja/img/login-to-proceed.jpg'  %}",
                        title = "{% trans 'Login to proceed' %}",
                        message = "{% trans "You must login to issue a request" %}",
                        url = "{% url 'ikwen:sign_in' %}?next={% url 'daraja:registered_company_list' %}";
                    ikwen.showNoticeDialog(imageURL, title, message, url);
                    return
                }
                if (!_$btn.hasClass('can-request')) {
                    ikwen.showFloatingNotice("{% trans "You have already issued a request to this company" %}");
                    return
                }
                if (!_$btn.hasClass('is-subscribed')) {
                    let imageURL = "{% static 'daraja/img/subscribe-daraja.jpg'  %}",
                        title = "{% trans 'Subscribe to ' %}" + companyName + "{% trans ' to proceed' %}",
                        message = "{% trans 'You must subscribe to issue a request' %}",
                        url = companyURL + "/ikwen" + "{% url 'ikwen:sign_in' %}?next={{ service.url }}{% url 'daraja:registered_company_list' %}";
                    ikwen.showNoticeDialog(imageURL, title, message, url);
                    return
                }
                _$btn.addClass('processing');
                $.getJSON('', {action: 'apply', service_id: companyId}, function(resp) {
                    _$btn.removeClass('processing');
                    if (resp.error === 'anonymous_user') {
                        $('#anonymous-user').modal({backdrop: 'static'});
                        return;
                    }
                    if (resp.error === 'not_yet_dara') {
                        $('#not-yet-dara').modal({backdrop: 'static'});
                        return;
                    }
                    $('#acknowledgement-msg .company-name').text(companyName);
                    $('#acknowledgement').modal({backdrop: 'static'});
                    _$btn.fadeOut();
                })
            });
            $('input.daily-sales').on({
                click: function(){
                   compute_money_income($(this));
                },
                change: function () {
                    compute_money_income($(this));
                },
                focus: function () {
                    compute_money_income($(this));
                }
            }).each(function() {
                compute_money_income($(this));
            });

            function compute_money_income($selector) {
                let dailySales = $selector.val(),
                    shareRate = parseFloat($selector.data('share-rate')),
                    monthlyEarnings = (dailySales * shareRate * 30) / 100;
                $selector.parents('.ik-li').find('.monthly-income').text(monthlyEarnings.formatMoney(0, "{{ settings.THOUSAND_SEPARATOR }}"));
            }

            $('.company-list .image, .company-list .info-header').click((e) => {
                $(e.target).parents('.ik-li').toggleClass('disclosed');
            });

        })()
    </script>
{% endblock %}