{% extends 'core/base_bs.html' %}
{% load i18n humanize static auth_tokens webdesign %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static 'daraja/img/logo-daraja_grey.png' %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
{% endblock %}

{% block page_title %}
<title> {{ dara.member.full_name }} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'daraja/css/daraja.css' %}" />
{% endblock %}

{% block content %}
    <div id="top-notice-ctnr" style="display: none">
        <span class="floating-notice has-shade" style="float: none; position: static"> Error goes here </span>
    </div>
    <div id="content" class="container" style="margin-top: 4vh">
        {% with member=dara.member %}
            {% url 'ikwen:profile' member.id as member_profile_url %}
            <div class="col-sm-8 col-sm-offset-2 dara-details">
                <div>
                    <div class="text-center">
                        {% if member.photo.name %}
                            <img class="img-circle img-thumbnail" src="{{ settings.IKWEN_MEDIA_URL }}{{ member.photo.small_name }}" style="margin-top: 1vh;width:200px;height:200px">
                        {% else %}
                            <img class="img-circle img-thumbnail" src="{% static 'ikwen/img/login-avatar.jpg' %}" style="margin-top: 1vh;">
                        {% endif %}
                        <h4>{{ member.full_name }}</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="dara-basic-info row">
                    <div class="col-md-4 col-sm-6 col-lg-offset-1">
                        <label>{% trans 'Email' %}</label>
                        <div>
                            <a href="mailto:{{ member.email }}" class="text-muted">{{ member.email }}</a>
                        </div>
                    </div>
                    <div class="col-sm-4 phone">
                        <label>{% trans 'Phone' %}</label>
                        {% if member.phone %}
                            <div>
                                <a href="tel://{{ member.phone }}" class="text-muted">{{ member.phone }}</a>
                            </div>
                        {% else %}
                            <div class="text-muted">&#60;{% trans 'Not set' %}&#62;</div>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <label>{% trans 'Suscribed on' %}</label>
                        <div class="text-muted">{{ dara.created_on|date }}</div>
                    </div>
                </div>
                <div class="dara-description">
                    <p>{{ dara.description|safe }}</p>
                    <p></p>
                    <div class="clearfix"></div>
                </div>
                {% if dara_request %}
                <div class="agreement">
                    <span class="pull-left col-lg-5 col-md-5 col-sm-4">
                        <button class="accept btn btn-deep-blue btn-block" role="button">
                            {% include 'core/snippets/button_spinner.html' %}
                            <strong>{% trans "Accept" %}</strong>
                        </button>
                    </span>
                    <span class="pull-right col-lg-5 col-md-5 col-sm-4">
                        <button class="decline btn btn-warning btn-block" role="button">
                            {% include 'core/snippets/button_spinner.html' %}
                            <strong>{% trans "Decline" %}</strong>
                        </button>
                    </span>
                </div>
                {% endif %}
            </div>
        {% endwith %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        (() => {
            let invitationUrl;
            $('div#admin-nav .daras').addClass('active');
            $('body').on('click', '#whatsapp-share .btn.ok', () => {
                let msg = $('#whatsapp-share-msg').val();
                window.location = 'https://api.whatsapp.com/send?text=' + invitationUrl + '%0A%0A' + msg;
            }).on('click', '.accept', (e) => {
                let _$btn = $(e.target);
                _$btn.addClass('processing');
                $.getJSON('', {action: 'accept', request_id: '{{ dara_request.id }}', target: '{{ request.GET.target }}' }, function(resp) {
                    _$btn.removeClass('processing');
                    if (resp.success) {
                        $('.agreement').remove();
                        ikwen.showFloatingNotice("{% trans "Dara successfully added" %}");
                    }
                })
            }).on('click', '.decline', (e) => {
                let _$btn = $(e.target);
                _$btn.addClass('processing');
                $.getJSON('', {action: 'decline', request_id: '{{ dara_request.id }}', target: '{{ request.GET.target }}' }, function(resp) {
                    _$btn.removeClass('processing');
                    if (resp.success) {
                        $('.agreement').remove();
                        ikwen.showFloatingNotice("{% trans "Request declined" %}");
                    }
                })
            });
        })()
    </script>
{% endblock %}




