{% extends 'core/base_bs.html' %}
{% load i18n humanize static auth_tokens webdesign %}

{% block meta %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static 'daraja/img/logo-daraja_grey.png' %}">
    <meta name="theme-color" content="#233682">
    <meta name="msapplication-navbutton-color" content="#233682">
    <meta name="apple-mobile-web-app-status-bar-style" content="#233682">
{% endblock %}

{% block page_title %}
<title> {% if dara.member.is_ghost %}{{ dara.member.email }}{% else %}{{ dara.member.full_name }}{% endif %} - {{ service.project_name }} </title>
{% endblock %}

{% block head_style %}
    {{ block.super }}
    <link rel='stylesheet' href="{% static 'daraja/css/daraja.css' %}" />
{% endblock %}

{% block header %}
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <div id="top-notice-ctnr" style="display: none">
        <span class="floating-notice has-shade" style="float: none; position: static"> Error goes here </span>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="container" style="margin-top: 4vh">
        {% with member=dara.member %}
            {% url 'ikwen:profile' dara.member.id as member_profile_url %}
            <div class="col-sm-8 col-sm-offset-2 dara-details">
                <div>
                    <div class="text-center">
                        {% if member.photo.name %}
                            <img class="img-circle img-thumbnail" src="{{ settings.IKWEN_MEDIA_URL }}{{ member.photo.small_name }}" style="margin-top: 1vh;width:200px;height:200px">
                        {% else %}
                            <img class="img-circle img-thumbnail" src="{% static 'ikwen/img/login-avatar.jpg' %}" style="margin-top: 1vh;">
                        {% endif %}
                        {% if member.is_ghost %}
                            <h4>{{ member.email }}</h4>
                        {% else %}
                            <h4>{{ member.full_name }}</h4>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="dara-basic-info row">
                    <div class="col-md-4 col-sm-6 col-lg-offset-1">
                        <label>{% trans 'Email' %}</label>
                        <div>
                            <a href="mailto:{{ dara.member.email }}" class="text-muted">{{ dara.member.email }}</a>
                        </div>
                    </div>
                    <div class="col-sm-4 phone">
                        <label>{% trans 'Phone' %}</label>
                        {% if dara.member.phone %}
                            <div>
                                <a href="tel://{{ dara.member.phone }}" class="text-muted">{{ dara.member.phone }}</a>
                            </div>
                        {% else %}
                            <div class="text-muted">&#60;{% trans 'Not set' %}&#62;</div>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <label>{% trans 'Suscribed on' %}</label>
                        <div class="text-muted">{{ dara.created_on|date }}</div>
                    </div>
                </div>
                <div class="dara-description">
                    <p>{{ dara.description|safe }}</p>
                    <p>{% lorem %}</p>
                    <div class="clearfix"></div>
                </div>

                <div class="agreement">
                    <span class="pull-left col-lg-5 col-md-5 col-sm-4">
                        <a class="accept btn btn-deep-blue" href="{% url 'daraja:dara_list' %}" role="button" style="width: 100%">
                            {% include 'core/snippets/button_spinner.html' %}
                            <strong>{% trans "Accept" %}</strong>
                        </a>
                    </span>
                    <span class="pull-right col-lg-5 col-md-5 col-sm-4">
                        <a class="decline btn btn-warning"  href="{% url 'daraja:dara_list' %}" role="button" style="width: 100%;">
                            {% include 'core/snippets/button_spinner.html' %}
                            <strong>{% trans "Decline" %}</strong>
                        </a>
                    </span>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}




